/* Scss Document */
@import '_variables';
@import '_mixin'; 

html, body{
	font-size:100% !important;


}


body,td,th, *, html {
	font-family: "Stag Sans Book", sans-serif !important;
}
a {
	font-family: "Stag Sans Book", sans-serif !important;
}


.container {
    width: 100%;
	max-width: 960px;	
	padding-right: 15px !important;
	padding-left: 15px !important;
}
.tab-content{

    margin-top: -18px;

}
.container {
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
}
.nav-menu > li.active > a{
	background-color: transparent !important;
}
a{
	text-decoration:none !important;
}


.span-gray-bold{
	font-weight:bold !important;
	color: $gray-1;
}

.span-blue-bold{
	font-weight:bold !important;
	color: $blue-2;
}

	ul.ul-aceptados {
	margin-left: 15px;
	padding-left: 0px;
	
	li{
		list-style:url(../../images/pyme-images/icon-list.svg);
		margin-left: 0;
		color: $gray-1;
		padding-left: 0px;
	}

}

.nav > li > a {
    padding: 5px 5px;
}

.nota{
	font-style: italic;
	font-size: .8em;
}

select, select.form-control{
 	@include appearance-none();
	background-image: url(../../images/pyme-images/select.svg) !important;
	background-repeat: no-repeat;
	background-size: 1.7em;
	background-position: 97% center;
	padding-right: 30px;
	padding: 15px 40px 0px 0px !important;
	padding-top: 0px !important;
	
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0);
box-shadow: inset 0 1px 1px rgba(0,0,0,0);


}

blockquote {
    padding: 10px 0px;
    margin: 0 0 20px;
    font-size: 17.5px;
    border-left: 0px solid $gray-5;
	border-bottom: 1px solid $gray-3;
	&:last-child{
		border-bottom: 0;
	}
	h4{color: $gray-1;}
	span{color: $blue-2;}
	p{color: $gray-1;}
	a{color:$blue-3;
	text-decoration: underline !important;}
}

h3{
	color:$blue-5;
}

.form-control{-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0);
box-shadow: inset 0 1px 1px rgba(0,0,0,0);}


.bold{
	font-weight:bold !important;
}

/*menu*/
ul.nav-menu{
	@include display-flex();
	@include justify-content-space-between();
	justify-content: space-between;
	width: 100%;
	/*height: 100px;*/
	margin-top: 20px;

	> li {
		float: left;
		@include display-flex();
		@include justify-content-space-between();
		align-items: center;
		width: 25%;
		border-bottom: 3px solid $gray-4;
		

		a{
			width: 100%;
			text-align: center !important;
			cursor: default;
			span, p{
				font-size: 1em;
				color: $gray-8;
			}
			
			P{
				margin:0;
			}
			
			span{
				font-size: 2em;
				@include display-flex();
				@include justify-content-center();
			}
		}	

		.active{
			border-bottom: 3px solid $blue-2;
		}
	}
}


.icon-perfila-negocio::before, .icon-tipo-credito::before, .icon-siguientes-pasos::before, .icon-datos-contacto::before{
	height: 24px;
}

.icon-perfila-negocio::before {
    font-size: .8em;
}

li.active{
	border-bottom: 3px solid $blue-2 !important;
}
	
ul.nav-menu > li.active a span, ul.nav-menu > li.active a p{
	color: $blue-2;
}
	
.nav-menu > li.active > a, .nav-menu > li.active > a:focus, .nav-menu > li.active > a:hover {
	border: 0px solid $gray-4;
}
	
.nav > li > a:focus, .nav > li > a:hover {
	background-color: transparent;
	border: 0;
}

.title-section{
	display: none;
	height: 45px;
	text-align: center;
	background-color: $blue-2;
	line-height: 45px;
	margin-top: -18px;
	
	h3{
		color: white;
		font-size: $font-medium-3;
		line-height: 45px;
		height: 45px;
	}
}
/*termina menu*/

/*perfilador*/
.perfilador {
	
	.tab-perfila-tu-negocio{
		div.row.row-btn{
			margin: 30px 0px;
			
			.col-btn{
				a{
					text-decoration: none;
				}
				&:first-child {
					.btn-option{
						float: right;
					}
				}
				
				.btn-option{
					background-color: #fff;
					@include deg-gray();
					width: 90%;
					max-width: 370px;
					max-height: 115px;
					text-align: center;
					color:$blue-2;
					text-decoration: none;	
					border-radius: 4px;
					
					&:hover{
						@include deg-blue();
						color: white;
					}
					
					p{
						height: 117px;
						align-items: center;
						@include display-flex();
						@include justify-content-center();						
						text-align: left;
					}
					
					p.icon {font-size: $font-medium-3;}
					
					[class^="icon-"]::before, [class*=" icon-"]::before{
						font-size: $font-big-1;
						padding-right: 20px;
					}
				}
				
			}
			span.icon{
				font-size: $font-big-2;
			}
		}
	}
	
	.text{
		margin-top: 60px;
		text-align: center;
		font-size: $font-medium-4;
		color: $gray-7;
	}
}

/*persona fisica*/
.btn-yellow{
	border:3px solid $yellow;
	width: 45%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	height: 48px;
	color: $yellow;
	line-height: 48px;
}
.btn-green{ 
	background-color: $green-1;
	width: 266px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	height: 48px;
	color: white;
	line-height: 48px;
	text-align: center;
	border-radius: 4px;
	float: right;
	@include deg-green();
	border: 1px solid $green-4 !important;
}

/*.btn{text-align: center;}*/

.btn-yellow-fill{
		background-color:$yellow;
		width: 75%;
		margin-left: auto !important;
		margin-right: auto !important;
		height:50px;
		line-height:50px;
		color: white;
		border-radius: 4px;
		border: 0;
		margin-bottom: 30px;
		border:1px solid $yellow-3;
		@include deg-yellow();
	}

input[type="submit"]{
	border:0;
}










/*forms*/
.bloque-1{
	padding: 0px 10px;
	margin-top: 60px;
	
}
.campos-form{
	padding-top: 20px;
	background-color: $gray-5;
	border-radius: 10px;
	padding: 5px;
	margin-top: 10px;
	
	p{
		font-size:1.3em !important;
		min-height: 75px;
		height: 70px;
		color: $blue-2;
		border-radius: 10px 10px 0px 0px;
		font-size: $font-medium-1;
		@include display-flex();
		@include justify-content-flex-start();
		
		align-items: center;
		font-weight: normal;
		margin: 0;
		padding: 0;
		font-weight:bold !important;
	}
	
	.icon.icon-persona-fisica::before, .icon.icon-persona-moral::before {
		font-size: 2em;
		padding-right: 5px;	
	}
	input, select{
		margin-top: 15px;
	}
}



input[type="text"], select{
	height: 50px;
	width: 100%;	
	border: 1px solid $gray-3;
}

.form-control{
	height: 50px;
}

label{
	color:$blue-2;
}

.title{
	height: 50px;
	width: 100%;
	float: none;
	clear: both;
	padding: 20px 0 0 5px;
}
.no-label{
	margin-top: 28px;
}

.filtros .filtro-group{
	background-color: $gray-4;
	padding: 0px 20px 0px 20px;
	border-radius: 0px 0px 10px 10px !important;	
	width: calc(100% - 40px;);
	margin: 0 10px;
	
	.col-filtro{
		padding:10px 0;
	}
	
	&:first-child{
		border-radius: 10px 10px 0px 0px !important;
	}
	
	h4{
		width: 100%;
		height: 40px;
		margin: 0 !important;
		padding: 0 !important;
	
		.icon-antiguedad::before, .icon-rango-ventas::before {
			font-size: 1.4em;
		}
	}
	
}

.radio{
	margin:0;
}
.radio-group{
	.radio{
		float:left;
		padding: 0;
		margin: 0;
		margin-right: 10px;
	}
	h5{
		color:$blue-2;
	}
}

checkbox + .checkbox, .radio + .radio {
    margin-top: 0px;
}

.radio label{
	color:$gray-1;
}

input[type="radio"] {
    border: 3px solid #000 !important;
    @include appearance-none();
    width: 20px;
    height: 20px;	
}
.radio-group{
	input[type="radio"], input[type="checkbox"] {
    display: none;
  }
  label {
    padding-left: 1.45em;
    
  }
  input[type="radio"] + label   {
	  background:url(../../images/pyme-images/radio.svg) no-repeat center left !important;
	  background-size: 19px !important;
	  padding-right: 5px;
  }
  input[type="radio"]:checked + label {
	  background:url(../../images/pyme-images/radio-hover.svg) no-repeat center left !important;
	  background-size: 19px !important;
  }
}




/*radio y checkbox style*/
.filtro-group{
	*,
	*:after,
	*::before {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}

	.ac-custom {
		ul, ol {
			list-style: none;
			padding: 0;
			margin: 0 auto;
			width: 100%;
			text-align: center;
			li {
				margin: 0 auto;
				padding: 5px 0;
				position: relative;
				list-style: none;
				width: 20%;
				float: left;
				
				&:hover label{
					background-color: #c98805;
color: white;
				}
			}
		}
		label {
			display: inline-block;
			position: relative;
			font-size: 1em;
			padding: 0 ;
			vertical-align: top;
			color: rgba(0,0,0,0.2);
			cursor: pointer;
			-webkit-transition: color 0.3s;
			transition: color 0.3s;
			width: 100%;
			height: 70px;
			line-height: 70px;
			
		}
		input[type="checkbox"],
		input[type="radio"],
		label::before {

			left: 0;
			margin-top: 0px;
			position: absolute;
			cursor: pointer;
			width: 100%;
			height: 70px;
			line-height: 70px;
		}

		input[type="checkbox"],
		input[type="radio"] {
			opacity: 0;
			@include appearance-none();
			display: inline-block;
			vertical-align: middle;
			z-index: 100;
		}

		label::before {
			content: '';
			border: 0px solid white;
			-webkit-transition: opacity 0.3s;
			transition: opacity 0.3s;
		}
		
		input[type="checkbox"] + label,
		input[type="radio"] + label {
			color: $gray-1;
			background-color: white;
			height: 70px;
			line-height: 70px;
			width: 97%;
			margin: 0 3%;
			text-align: center;
			border: 1px solid $gray-3;
			font-weight: normal;
		} 

		input[type="checkbox"]:checked + label,
		input[type="radio"]:checked + label {
			color: white;
			background-color: $yellow;
			height: 70px;
			line-height: 70px;
			width: 97%;
			margin: 0 3%;
			border: 1px solid $yellow; 
			border-bottom: 2px solid $yellow-2;
			border-right:  2px solid $yellow-2;
		} 

	
		input[type="checkbox"]:checked + label::before,
		input[type="radio"]:checked + label::before {
			opacity: 0.8;
			width: 100%;
		}
		
	}
		
	.ac-radio label::before {
		border-radius: 50%;
	}
}

.form-group{
	padding-left: 2%;
	
	&:first-child{
		padding-right: 2%;
		padding-left: 10%;
	}
	
}


/*siguientes pasos*/
.footer-requisitos {
	border-top: 1px solid $gray-3;
	padding-top: 10px;
	.icon{
		color: $blue-5;
		text-align: center;
		margin-right: 10px;
		p{font-size: 12px;
		text-align: center;
		}
	}
}

.icon.icon-requisitos{position: absolute; border-radius: 50%; top: -10px; right: -10px; height: 70px; width: 70px; font-size: 3em; color: $blue-5; background-color: white;}

.perfilador ul.nav-menu > li a p {
    font-size: .9em;
    color: $gray-2;
}

.row.campos-form{
	margin:30px 0;
}

h4{color:$blue-2;
font-size: 1em;}

input[type="submit"]:disabled {
	opacity: .7;
}

input[type="submit"] {
	opacity: 1;
}
.row.radio-group{
	padding-left: 15px !important;
	padding-right: 15px !important;
	padding-top: 20px;
}
#boton-continuar{
	float: right;
}
.detalles{
	padding: 0 15px;
}
.requisitos{
	background-color: $gray-4;
	padding-top: 25px;
	position: relative;
	margin-top: 40px;
	ul{
		height: auto;  list-style: none; 
		border-top: 20px solid $blue-4;
		margin: 20px;
		margin-top: 0 !important;
		padding: 20px 0;

		li{
			height: 50px;
			line-height: 50px;
			border-bottom: 2px solid $gray-3;
			padding-left: 5px;
			
			p {
				margin: 0;
				float: left;
			}
		}
	}
}
.footer-requisitos{
	.icon::before {
		font-size: 40px;
	}
}
.icon-cerrar-error::before, .icon-check::before {margin-right: 5px;
	float: left !important;
		line-height: 50px !important;
}
.icon-cerrar-error::before {
	color:  $magenta-2;
}
.icon-check::before {
	color: $green-1;
}
.mensaje{
	padding: 15px;
	.requerimientos-rechazado, .requerimientos-aceptado {
		margin-top: 10px;
		height: auto;
		min-height: 60px;
		color: white;
		p{
			position: relative;
			font-size: 1.2em;
			margin: 0;
			
			align-items: center;
			@include display-flex();
			
			span{
				align-items: center;
				@include display-flex();
				@include justify-content-center();
				padding-left: 5px;
			}
		}	
		.icon-rechazado::before, .icon-aceptado::before {
			font-size: 2.2em;
			margin-top: 5px;
			padding: 10px 0;
		}
		.icon-rechazado::before{
			color: white;
		}
		.icon-aceptado::before {
			color: white;
		}
	}
	.requerimientos-rechazado{
		background-color: $magenta-2;
	}
	.requerimientos-aceptado{
		background-color: $green-2;
	}
}
.row-requisitos{
	padding: 0 10px;
}

/*tipo de creditos*/
.nav-tabs > li > a{
	color:$blue-2 !important;
}

.nav-tabs > li.active > a {
    color: white !important;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li > a:hover{
	color:white;
	text-align: center;
}
.tipo-de-credito{
	.tab-content > .tab-pane {
    	display: inline-block;
	}
	.nav.nav-tabs{
		display:none;
		width: 100%;
	}
	.row-tipo-credito {
		margin-top: 30px;
		.credito-simple, .credito-tarjeta{
			padding: 0;
			.content-tipo-credito{
				border:1px solid $gray-4;
				border-radius: 10px;
				margin:15px;
				height: auto;
				text-align: center;

				h1{
					font-size:1.2em !important;
					background-color: $gray-4;
					min-height: 60px;
					height: 60px;
					color: $blue-5;
					margin-top: 0;
					padding-top: 0;
					border-radius: 10px 10px 0px 0px;
					padding: 0 10px;
					@include display-flex();
					@include justify-content-flex-start();
					align-items: center;
					font-weight: normal;
					text-align: left;

				}


				ul, p, h4{
					padding: 0 20px;
					color:$gray-2;
					text-align: left;
				}

				h4{
					font-weight:bold !important;
				}


				ul{min-height: 180px;
				padding-left: 35px ;}

				p{
					color:$blue-2;
					min-height: 80px;
				}
			}
			
			.icon-credito-simple::before, .icon-credito-tarjeta::before {
			font-size: 2.5em;
			padding-right: 5px;
		}
		}
	
	}
}

@media (max-width: 820px) {
ul.nav-menu{
	> li {
		a{
			p{
				font-size: .9em;
			}
		}	
	}
}	
}

/*media query*/
@media (max-width: 768px) {
	.tab-perfila-tu-negocio div.row div button{
		p.icon {
			font-size: $font-medium-3;
		}
		[class^="icon-"]::before, [class*=" icon-"]::before{
			font-size: $font-medium-4;
			padding-right: 20px;
		}
	}
	.title-section{
		display:block;
	}
	ul.nav-menu > li a p{
		display: none !important;
	}
	ul.nav-menu > li a span{
		opacity: .3;
	}
	ul.nav-menu > li.active a span{
		opacity: 1;
	}
	.text{
		height: 30px;
		line-height: 50px;
		text-align: center;
		display:block;
		margin-top: 30px;
	}
	ul.nav-menu{
		height: 50px;
		a{
			line-height: 0;
		}
	}
	.tab-perfila-tu-negocio div.row.row-btn .col-btn .btn-option{
		height: 140px !important;
		width: 100%;
		max-width: 100%;

		.icon::before {
			position: absolute;
			top: 15px;
			left: calc(50% - 25px);
		}

		p span{
			margin-top: 65px;
			font-size: $font-small-4;
		}
	}
	.container {
		padding-right: 0px !important;
		padding-left: 0px !important;
		margin-right: auto;
		margin-left: auto;
	}
	.btn-yellow{
		width: calc(100% - 40px) !important;
		margin: 30px 20px;
	}

	/*radio y checkbox style*/
	.filtro-group{
		.ac-custom {
			ul, ol {
				list-style: none;
				padding: 0;
				margin: 0 auto;
				width: 100%;
				text-align: center;
				@include display-flex();
				@include justify-content-center();
				@include flex-wrap();
				
				li {
					max-width: 50%; 
					width: 50%;
					@include display-flex();
					@include justify-content-center();
					@include flex-wrap();
				}
			}
		}
	}
	.campos-form {
    	padding: 0 ;
	}
	.form-group{
		padding-right: 15px;
		padding-left: 15px;

		&:first-child{
			padding-right: 15px;
			padding-left: 15px;
		}
	}
	.filtros .filtro-group{
		background-color: $gray-4;
		padding: 20px;
		border-radius: 10px !important;	
		width: calc(100% - 40px;);
		margin: 10px 10px;
	
		&:first-child{
			border-radius: 10px !important;
		}
	}
	

	
	
}
	
@media (max-width: 767px) {
	.no-mobile{
		display: none;
	}
	.mensaje{
		padding-top: 0;
		margin-top: -10px;
	}
	.tipo-de-credito{
		.nav > li > a {
			position: relative;
			display: block;
			padding: 10px 10px;
		}
		.nav-tabs > li > a {
			border: 0px solid transparent !important;
		}
		.icon.icon-credito-simple:hover{
			text-align: center;
		}
		.nav-tabs {
			border-bottom: 0px solid #ddd;
			background-color: $blue-4;
		}
		li{
			background-color: transparent;
		}
		li.active {
			border-bottom: 0px solid #006EC1 !important;
		}
		.nav-tabs > li.active > a{
			border:0;
			background-color: transparent;
		}
		.nav.nav-tabs{
			display:inline-block;
		}
		.tab-content > .tab-pane {
			display: none;
		}
		.tab-pane.active {
			display: inline-block !important;
		}
		.credito-simple, .credito-tarjeta{
			.content-tipo-credito{
				border:0px solid $blue-2 !important;
				h1{
					display: none !important;
				}
			}
		}
		
		a.icon.icon-credito-tarjeta, a.icon.icon-credito-simple {
    		text-align: center;
			
			@include display-flex();
			@include justify-content-center();
			align-items: center;
			color: $blue-2;
		}
    
		.icon-credito-simple::before, .icon-credito-tarjeta::before {
			font-size: 2em;
			padding-right: 5px;
		}
		
		
	}
}

@media (max-width: 460px) {
	.tab-perfila-tu-negocio div.row.row-btn .col-btn .btn-option{			
		p span{
			margin-top: 65px;
			font-size: $font-small-2;
		}
	}
}





.relative {position: relative;}

p.text-edad{position: absolute; top: 40px; padding-left: 35px; z-index: -2; color:$gray-1;}

select.form-control{
	padding-left: 15px !important;
}



div.icon.icon-enviar-resultados, div.icon.icon-atencion-cliente{float: left;}

.radio-on{
	height: 80px;
	padding: 5px;
}

.background-gray-1, .background-gray-2{
	background-color: $gray-4;
	min-height: 90px;
	height: auto;
	padding: 10px;
	border-radius: 5px;
}

.background-gray-1{
	margin-left: 10px;
}
.background-gray-2{
	margin-right: 10px;
}

.li-ok{
	border-bottom-color:  $blue-2 !important;
a{
	opacity: .5;
	span, p{color: $blue-2 !important;}
	
}
	}

.content-PyME{
	padding-bottom: 100px;
}

.icon-requisitos::before {
    font-size: 1.6em;
}

li.icon-check{color: $gray-1;}

li.icon-cerrar-error{
	color: $gray-9;
}








/*select style*/
/* Default custom select styles */
div.cs-select {
	display: inline-block;
	vertical-align: middle;
	position: relative;
	text-align: left;
	background: #fff;
	z-index: 100;
	width: 100%;
	max-width: 500px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	margin-top: 15px;
}

div.cs-select:focus {
	outline: none; /* For better accessibility add a style for this in your skin */
}

.cs-select select {
	display: none;
}

.cs-select span {
	display: block;
	position: relative;
	cursor: pointer;
	padding: 1em;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

/* Placeholder and selected option */
.cs-select > span {
	padding-right: 3em;
}

.cs-select > span::after,
.cs-select .cs-selected span::after {
	speak: none;
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.cs-select > span::after {
	content: '\25BE';
	right: 1em;
}

.cs-select .cs-selected span::after {
	content: '\2713';
	margin-left: 1em;
}

.cs-select.cs-active > span::after {
	-webkit-transform: translateY(-50%) rotate(180deg);
	transform: translateY(-50%) rotate(180deg);
}

div.cs-active {
	z-index: 200;
}

/* Options */
.cs-select .cs-options {
	position: absolute;
	overflow: hidden;
	width: 100%;
	background: #fff;
	visibility: hidden;
}

.cs-select.cs-active .cs-options {
	visibility: visible;
}

.cs-select ul {
	list-style: none;
	margin: 0;
	padding: 0;
	width: 100%;
}

.cs-select ul span {
	padding: 1em;
}

.cs-select ul li.cs-focus span {
	background-color: #ddd;
}

/* Optgroup and optgroup label */
.cs-select li.cs-optgroup ul {
	padding-left: 1em;
}

.cs-select li.cs-optgroup > span {
	cursor: default;
}




/*border*/
div.cs-skin-border {
	background: transparent;
}

@media screen and (max-width: 30em) {
	div.cs-skin-border { font-size: 1em; }
}

.cs-skin-border > span {
	border: 1px solid #ccc;
	border-color: inherit;
	-webkit-transition: background 0.2s, border-color 0.2s;
	transition: background 0.2s, border-color 0.2s;
	border: 1px solid #ccc;
border-color: inherit;
-webkit-transition: background 0.2s, border-color 0.2s;
transition: background 0.2s, border-color 0.2s;
border-radius: 4px;
color: #ccc;
background-color: #fff;
height: 50px;
}

.cs-skin-border ul span::after {
	content: '';
	opacity: 0;
}

.cs-skin-border .cs-selected span::after {
	color: #ddd9c9;
	font-size: 1.5em;
	opacity: 1;
	-webkit-transition: opacity 0.2s;
	transition: opacity 0.2s;
}

.cs-skin-border.cs-active > span {
	background: #fff;
	border-color: #fff;
	color: #2980b9;
}

.cs-skin-border .cs-options {
	color: #2980b9;
	font-size: 0.75em;
	opacity: 0;
	-webkit-transition: opacity 0.2s, visibility 0s 0.2s;
	transition: opacity 0.2s, visibility 0s 0.2s;
}

.cs-skin-border.cs-active .cs-options {
	opacity: 1;
	-webkit-transition: opacity 0.2s;
	transition: opacity 0.2s;
}

.cs-skin-border ul span {
	padding: 1em 2em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.cs-skin-border .cs-options li span:hover,
.cs-skin-border li.cs-focus span {
	background: #f5f3ec;
}
