/* Scss Document */

@mixin display-flex() {
	display: -webkit-box;
	display: -moz-box;
	display: -o-box;
	display: -ms-flexbox;
	
	display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
}

@mixin bold() {
	font-family:'StagSans Book', 'sans-serif' !important;
	font-weight: bold !important;
}

@mixin regular() {
	font-family:'StagSans Book', 'sans-serif' !important;
	font-weight: normal !important;
}


@mixin normal() {
	font-family:'StagSans Light', 'sans-serif' !important;
	font-weight: normal !important;
}


@mixin justify-content-center() {
	justify-content: center;
	-webkit-justify-content:center;
}

@mixin justify-content-space-between() {
	justify-content:space-between;
	-webkit-justify-content:space-between;
}

@mixin justify-content-space-around() {
	justify-content:space-around;
	-webkit-justify-content:space-around;
}

@mixin justify-content-flex-start() {
	justify-content:flex-start;
	-webkit-justify-content:flex-start;
	-ms-flex-pack: center;
}



@mixin flex-wrap() {
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
	-ms-flex-wrap: wrap;
}

@mixin appearance-none() {
-moz-appearance:none;
	-webkit-appearance:none;
	appearance:none;
}

@mixin flex-direction-row() {
	-ms-flex-direction: row;
	-webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    -o-flex-direction: row;
    flex-direction: row;
}

@mixin flex-direction-column() {
	-ms-flex-direction: column !important;
	-webkit-flex-direction: column !important;
    -moz-flex-direction: column !important;
    -ms-flex-direction: column !important;
    -o-flex-direction: column !important;
    flex-direction: column !important;
}

@mixin align-items-center() {
	align-items: center;
	-ms-flex-align: center;
	
}




@mixin deg-gray() {

background: #f2f2f2; /* Old browsers */

background: -moz-linear-gradient(top,  #f2f2f2 0%, #c8c8c8 100%); /* FF3.6-15 */

background: -webkit-linear-gradient(top,  #f2f2f2 0%,#c8c8c8 100%); /* Chrome10-25,Safari5.1-6 */

background: linear-gradient(to bottom,  #f2f2f2 0%,#c8c8c8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#c8c8c8',GradientType=0 ); /* IE6-9 */


}
	

@mixin deg-blue (){
background: #006ec1; /* Old browsers */

background: -moz-linear-gradient(top,  #006ec1 0%, #094fa4 100%); /* FF3.6-15 */

background: -webkit-linear-gradient(top,  #006ec1 0%,#094fa4 100%); /* Chrome10-25,Safari5.1-6 */

background: linear-gradient(to bottom,  #006ec1 0%,#094fa4 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#006ec1', endColorstr='#094fa4',GradientType=0 ); /* IE6-9 */


}
@mixin deg-green (){

/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#9fd05e+0,86c82d+100 */

background: #9fd05e; /* Old browsers */

background: -moz-linear-gradient(top,  #9fd05e 0%, #86c82d 100%); /* FF3.6-15 */

background: -webkit-linear-gradient(top,  #9fd05e 0%,#86c82d 100%); /* Chrome10-25,Safari5.1-6 */

background: linear-gradient(to bottom,  #9fd05e 0%,#86c82d 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9fd05e', endColorstr='#86c82d',GradientType=0 ); /* IE6-9 */

}

@mixin deg-yellow (){

/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fdce6f+0,fdbd2c+100 */

background: #fdce6f; /* Old browsers */

background: -moz-linear-gradient(top,  #fdce6f 0%, #fdbd2c 100%); /* FF3.6-15 */

background: -webkit-linear-gradient(top,  #fdce6f 0%,#fdbd2c 100%); /* Chrome10-25,Safari5.1-6 */

background: linear-gradient(to bottom,  #fdce6f 0%,#fdbd2c 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdce6f', endColorstr='#fdbd2c',GradientType=0 ); /* IE6-9 */


}

/*@mixin parrafo-1 (){}
@mixin parrafo-2 (){}
@mixin parrafo-3 (){}
@mixin titulo-1 (){}
@mixin titulo-2 (){}
@mixin titulo-3 (){}
@mixin titulo-4 (){}
@mixin titulo-5 (){}
@mixin titulo-6 (){}*/