/* Scss Document */


@media (max-width: 820px) {
ul.nav-menu{
	> li {
		a{
			p{
				font-size: .9em;
			}
		}	
	}
}	
	
	.simulador{
	padding: 0 10px !important;
}
}
@media (max-width: 768px) {
	.tab-perfila-tu-negocio div.row div button{
		p.icon {
			font-size: $font-medium-3;
		}
		[class^="icon-"]::before, [class*=" icon-"]::before{
			font-size: $font-medium-4;
			padding-right: 20px;
		}
	}
	.title-section{
		display:block;
	}
	ul.nav-menu > li a p{
		display: none !important;
	}
	ul.nav-menu > li a span{
		opacity: .3;
	}
	ul.nav-menu > li.active a span{
		opacity: 1;
	}
	.text{
		height: 30px;
		line-height: 50px;
		text-align: center;
		display:block;
		margin-top: 30px;
	}
	ul.nav-menu{
		height: 50px;
		a{
			line-height: 0;
		}
	}
	.tab-perfila-tu-negocio div.row.row-btn .col-btn .btn-option{
		height: 140px !important;
		width: 100%;
		max-width: 100%;

		.icon::before {
			position: absolute;
			top: 15px;
			left: calc(50% - 25px);
		}

		p span{
			margin-top: 65px;
			font-size: $font-small-4;
		}
	}
	.container {
		padding-right: 0px !important;
		padding-left: 0px !important;
		margin-right: auto;
		margin-left: auto;
	}
	.btn-yellow{
		width: calc(100% - 40px) !important;
		margin: 30px 20px;
	}

	/*radio y checkbox style*/
	.filtro-group{
		.ac-custom {
			ul, ol {
				list-style: none;
				padding: 0;
				margin: 0 auto;
				width: 100%;
				text-align: center;
				@include display-flex();
				@include justify-content-center();
				@include flex-wrap();
				
				li {
					max-width: 50%; 
					width: 50%;
					@include display-flex();
					@include justify-content-center();
					@include flex-wrap();
				}
			}
		}
	}
	.campos-form {
    	padding: 0 ;
		padding-bottom: 20px;
	}
	.form-group{
		padding-right: 15px;
		padding-left: 15px;

		&:first-child{
			padding-right: 15px;
			padding-left: 15px;
		}
	}
	.filtros .filtro-group{
		background-color: $gray-4;
		padding: 20px;
		border-radius: 10px !important;	
		width: calc(100% - 40px;);
		margin: 10px 10px;
	
		&:first-child{
			border-radius: 10px !important;
		}
	}

.simulador{
	padding: 0 0px !important;
	.title-icon, p, form, {
		padding: 0 10px;
	}
	
	p{
		text-align: center;
	}
	
	.row-simulador-resumen, .btn-link{
		margin:0 10px;
	}
	
	.title-icon{
		border-bottom: 3px solid $blue-2;
		padding-bottom: 10px;
		text-align: center;
	}
	.title-icon {
    margin-top: 0px;
    width: 100%;
    height: 60px;
		@include display-flex();
		@include justify-content-center();
		
		h1{width: auto;
		font-size: 1.2em;}
	
	}

}}
@media (max-width: 767px) {
	.no-mobile{
		display: none;
	}
	.mensaje{
		padding-top: 0;
		margin-top: -10px;
	}
	.tipo-de-credito{
		.nav > li > a {
			position: relative;
			display: block;
			padding: 10px 10px;
		}
		.nav-tabs > li > a {
			border: 0px solid transparent !important;
		}
		.icon.icon-credito-simple:hover{
			text-align: center;
		}
		.nav-tabs {
			border-bottom: 0px solid #ddd;
			background-color: $blue-4;
		}
		li{
			background-color: transparent;
		}
		li.active {
			border-bottom: 0px solid #006EC1 !important;
		}
		.nav-tabs > li.active > a{
			border:0;
			background-color: transparent;
		}
		.nav.nav-tabs{
			display:inline-block;
		}
		.tab-content > .tab-pane {
			display: none;
		}
		.tab-pane.active {
			display: inline-block !important;
		}
		.credito-simple, .credito-tarjeta{
			.content-tipo-credito{
				border:0px solid $blue-2 !important;
				h1{
					display: none !important;
				}
			}
		}
		
		a.icon.icon-credito-tarjeta, a.icon.icon-credito-simple {
    		text-align: center;
			@include display-flex();
			@include justify-content-center();
			@include align-items-center();
			color: $blue-2;
		}
    
		.icon-credito-simple::before, .icon-credito-tarjeta::before {
			font-size: 2em;
			padding-right: 5px;
		}		
	}
	
	.ctarjeta .col-resumen{
		display:inline-block;
		@include flex-direction-row();
		text-align: center;
		@include justify-content-center();}
	
	.mes span {
		display: none;
	}
	
	.simulador .row:last-child  {
				text-align: center;
	.btn-green{
		float:none;
	}}
	
	.modal-dialog {

    margin: 0px;
}
	
	.divTableCell, .divTableHead {
	padding: 10px 2px;
		font-size: .9em;}
	
	
	.csimple .row-simulador-resumen{
		padding: 10px !important;
		
		.col-resumen{
		padding: 0 !important;
			font-size: .9em;
	}
	}
	.background-gray-1, .background-gray-2{
		margin:10px;
	}
	
	.sucursales ul li {
		width: 50% !important;
		max-width: 100% !important;
		}
	
	.datos-contacto form .datos{
		border-top:3px solid #ccc;
		margin: 10px;
		margin-top: 25px;
	}
	.datos-contacto form .datos:first-child{
		border-top:0;
			margin-top: 15px;
		.title{
		display: none;
			
	}
	}
	.datos, .datos{
		padding: 15px;
	}
	.datos .title{
    	padding-left: 0 !important;
	}
	
	
	.campos-form-white label{
		padding-top: 15px;
	}
	
	.row {

	div.col-xs-12 {
		padding-right: 0 !important;
		padding-left:0 !important;
	}
}
.btnContinuar, .politicasPrivacidad  {
	padding: 0 25px;
}
.filtros {
	padding: 15px;
}
	.modal-header .row:last-child .detalle-title:last-child {
    text-align: left;
}
	
	.modal-body-mobile{display: inline-block;}
	.modal-body-web{display: none;}
	
	
	
	
}

@media (max-width: 540px) {
	
	.sucursales ul li {
		width: 100% !important;
		max-width: 100% !important;
		}
}
@media (max-width: 460px) {

	
		.tab-perfila-tu-negocio div.row.row-btn .col-btn .btn-option{			
		p span{
			margin-top: 65px;
			font-size: $font-small-2;
		}
	}
	
	.row-simulador input[type="text"]{
width:40%;
padding-right: 5px;
font-size: 1.2em;
}
	.rangeSimulador{
		margin-top:60px;}
	.sim-title{
	left:15px;
width:55%;
		font-size: .95em;
		
		h2{
font-size: 1em !important;}}

	.simulador .title-icon h1{width: auto;
		font-size: 1em;}
}


