@charset "UTF-8";

@font-face {
  font-family: "icon-bbva-pyme";
  src:url("../../fonts/creditoPyme/icon-bbva-pyme.eot");
  src:url("../../fonts/creditoPyme/icon-bbva-pyme.eot?#iefix") format("embedded-opentype"),
    url("../../fonts/creditoPyme/icon-bbva-pyme.woff") format("woff"),
    url("../../fonts/creditoPyme/icon-bbva-pyme.ttf") format("truetype"),
    url("../../fonts/creditoPyme/icon-bbva-pyme.svg#icon-bbva-pyme") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "icon-bbva-pyme" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "icon-bbva-pyme" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-tipo-credito:before {
  content: "\62";
}
.icon-siguientes-pasos:before {
  content: "\64";
}
.icon-datos-contacto:before {
  content: "\65";
}
.icon-persona-moral:before {
  content: "\66";
}
.icon-perfila-negocio:before {
  content: "\61";
}
.icon-antiguedad:before {
  content: "\67";
}
.icon-rango-ventas:before {
  content: "\68";
}
.icon-credito-tarjeta:before {
  content: "\69";
}
.icon-credito-simple:before {
  content: "\6a";
}
.icon-cerrar-error:before {
  content: "\6b";
}
.icon-buscar:before {
  content: "\6c";
}
.icon-aceptado:before {
  content: "\6d";
}
.icon-atencion-cliente:before {
  content: "\6e";
}
.icon-enviar-resultados:before {
  content: "\6f";
}
.icon-rechazado:before {
  content: "\70";
}
.icon-requisitos:before {
  content: "\71";
}
.icon-check:before {
  content: "\72";
}
.icon-persona-fisica:before {
  content: "\73";
}
