/* Scss Document */
@import '_variables';
@import '_mixin'; 

html, body{
	font-size:100% !important;
}

/*font*/
@import url("stylesheet.css");


body,td,th {
	font-family: "StagSans Light", sans-serif;
}
a {
	font-family: "StagSans Light", sans-serif;
}

h1, h2, h3, h4, h5, h6{
	@include bold();
}

.container {
    width: 100%;
	max-width: 960px;	
	padding-right: 15px !important;
	padding-left: 15px !important;
}
.tab-content{
    margin-top: -18px;
} 
.container {
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
}

.nav-menu > li.active > a{
	background-color: transparent !important;
}
a{
	text-decoration:none !important;
}

.span-gray-bold{
	color: $gray-1;
	@include bold();
}

.span-blue-bold{
	@include bold();
	color: $blue-2;
	
}

ul.ul-aceptados {
	margin-left: 15px;
	padding-left: 0px;
	li{
		list-style:url(../../images/creditoPyme/icon-list.svg);
		margin-left: 0;
		color: $gray-1;
		padding-left: 0px;
	}
}

.nav > li > a {
    padding: 5px 5px;
}

.nota{
	font-style: italic;
	font-size: .8em;
}

select, select.form-control{
 	@include appearance-none();
	background-image: url(../../images/creditoPyme/select.svg) !important;
	background-repeat: no-repeat;
	background-size: 1.7em;
	background-position: 97% center;
	padding: 15px 40px 0px 0px !important;
	padding-top: 0px !important;
	padding-right: 0px !important;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0);
	box-shadow: inset 0 1px 1px rgba(0,0,0,0);
}

blockquote {
    padding: 10px 0px;
    margin: 0 0 20px;
    font-size: 17.5px;
    border-left: 0px solid $gray-5;
	border-bottom: 1px solid $gray-3;
	&:last-child{
		border-bottom: 0;
	}
	h4{color: $gray-1;}
	span{color: $blue-2;}
	p{color: $gray-1;}
	a{color:$blue-3;
	text-decoration: underline !important;}
}

h3{
	color:$blue-5;
}

.form-control{
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0);
	box-shadow: inset 0 1px 1px rgba(0,0,0,0);
}

.bold{
	@include bold();
}

/*menu*/
ul.nav-menu{
	@include display-flex();
	@include justify-content-space-between();
	width: 100%;
	/*height: 100px;*/
	margin-top: 20px;

	> li {
		float: left;
		@include display-flex();
		@include justify-content-space-between();
		@include align-items-center();
		width: 25%;
		border-bottom: 3px solid $gray-4;
		

		a{
			width: 100%;
			text-align: center !important;
			cursor: default;
			span, p{
				font-size: 1em;
				color: $gray-8;
				
			}
			
			P{
				margin:0;
			}
			
			span{
				font-size: 2em;
				@include display-flex();
				@include justify-content-center();
			}
		}	

		.active {
			border-bottom: 3px solid $blue-2;
		}
	}
}

.icon-perfila-negocio::before, .icon-tipo-credito::before, .icon-siguientes-pasos::before, .icon-datos-contacto::before{
	height: 24px;
}

.icon-perfila-negocio::before {
    font-size: .8em;
}

li.active{
	border-bottom: 3px solid $blue-2 !important;
}
	
ul.nav-menu > li.active a span, ul.nav-menu > li.active a p{
	color: $blue-2;
	@include regular();
}
	
.nav-menu > li.active > a, .nav-menu > li.active > a:focus, .nav-menu > li.active > a:hover {
	border: 0px solid $gray-4;
}
	
.nav > li > a:focus, .nav > li > a:hover {
	background-color: transparent;
	border: 0;
}

.title-section{
	display: none;
	height: 45px;
	text-align: center;
	background-color: $blue-2;
	line-height: 45px;
	margin-top: -18px;
	
	h3{
		color: white;
		font-size: $font-medium-3;
		line-height: 45px;
		height: 45px;
	}
}
/*termina menu*/

/*perfilador*/
.perfilador {
	
	.tab-perfila-tu-negocio{
		div.row.row-btn{
			margin: 30px 0px;
			
			.col-btn{
				a{
					text-decoration: none;
				}
				&:first-child {
					.btn-option{
						float: right;
					}
				}
				
				.btn-option{
					background-color: #fff;
					@include deg-gray();
					width: 90%;
					max-width: 370px;
					max-height: 115px;
					text-align: center;
					color:$blue-2;
					text-decoration: none;	
					border-radius: 4px;
					
					&:hover{
						@include deg-blue();
						color: white;
					}
					
					p{
						height: 117px;
						@include align-items-center();
						@include display-flex();
						@include justify-content-center();						
						text-align: left;
					}
					
					p.icon {font-size: $font-medium-3;}
					
					[class^="icon-"]::before, [class*=" icon-"]::before{
						font-size: $font-big-1;
						padding-right: 20px;
					}
				}
				
			}
			span.icon{
				font-size: $font-big-2;
			}
		}
	}
	
	.text{
		margin-top: 60px;
		text-align: center;
		font-size: $font-medium-4;
		color: $gray-7;
	}
}

/*persona fisica*/
.btn-yellow{
	border:3px solid $yellow;
	width: 45%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	height: 48px;
	color: $yellow;
	line-height: 48px;
}

.btn-green{ 
	background-color: $green-1;
	width: 266px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	height: 48px;
	color: white;
	line-height: 48px;
	text-align: center;
	border-radius: 4px;
	float: right;
	@include deg-green();
	border: 1px solid $green-4 !important;
}

.btn-blue{ 
	background-color: $blue-2;
	width: 266px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	height: 48px;
	color: white;
	line-height: 48px;
	text-align: center;
	border-radius: 4px;
	@include deg-blue();
	border: 1px solid $blue-3 !important;
	opacity: 1 !important;
	@include regular();
}

/*.btn{text-align: center;}*/

.btn-yellow-fill{
	background-color:$yellow;
	width: 75%;
	margin-left: auto !important;
	margin-right: auto !important;
	height:50px;
	line-height:50px;
	color: white;
	border-radius: 4px;
	border: 0;
	margin-bottom: 30px;
	border:1px solid $yellow-3;
	@include deg-yellow();
	@include regular();
}

.simulador{
	.btn-yellow-fill{
	
	width: 266px;
		float: right;
	}
}

input[type="submit"]{
	border:0;
}

/*forms*/
.bloque-1{
	
	margin-top: 60px;
}

.bloque-2{
	padding: 0px 10px;
}

.campos-form{
	padding-top: 20px;
	background-color: $gray-5;
	border-radius: 10px;
	padding: 5px;
	margin-top: 10px;
	
	p{
		font-size:1.3em !important;
		min-height: 75px;
		height: 80px;
		color: $blue-2;
		border-radius: 10px 10px 0px 0px;
		font-size: $font-medium-1;
		@include display-flex();
		@include justify-content-flex-start();
		
		@include align-items-center();
		font-weight: normal;
		margin: 0;
		padding: 0;
		@include bold();
	}
	
	.icon.icon-persona-fisica::before, .icon.icon-persona-moral::before {
		font-size: 2em;
		padding-right: 5px;	
	}
	input, select{
		margin-top: 15px;
		padding-left: 10px !important;
	}
}

input[type="text"], select{
	height: 50px;
	width: 100%;	
	border: 1px solid $gray-3;
}

.form-control{
	height: 50px;
}

label{
	color:$blue-2;
}

.title{
	height: 50px;
	width: 100%;
	float: none;
	clear: both;
	padding: 20px 0 0 5px;
}

.no-label{
	margin-top: 28px;
}

.filtros .filtro-group{
	background-color: $gray-4;
	padding: 0px 20px 0px 20px;
	border-radius: 0px 0px 10px 10px !important;	
	width: calc(100% - 40px;);
	margin: 0px;
	
	.col-filtro{
		padding:10px 0;
	}
	
	&:first-child{
		border-radius: 10px 10px 0px 0px !important;
	}
	
	h4{
		width: 100%;
		height: 40px;
		margin: 0 !important;
		padding: 0 !important;
	
		.icon-antiguedad::before, .icon-rango-ventas::before {
			font-size: 1.4em;
		}
	}
	
}



.datos-contacto{
	.filtros .filtro-group{
		margin-top: 30px;
		padding-bottom: 25px;
	

	
	&:first-child{
		border-radius: 10px 10px 10px 10px !important;
	}
	
	h4{
		width: 100%;
		height: 40px;
		margin: 0 !important;
		padding: 0 !important;
	
		.icon-antiguedad::before, .icon-rango-ventas::before {
			font-size: 1.4em;
		}
	}
	
}
}

.radio{
	margin:0;
}

.radio-group{
	.radio{
		float:left;
		padding: 0;
		margin: 0;
		margin-right: 10px;
	}
	h5{
		color:$blue-2;
	}
}

checkbox + .checkbox, .radio + .radio {
    margin-top: 0px;
}

.radio label{
	color:$gray-1;
}

input[type="radio"] {
    border: 3px solid #000 !important;
    @include appearance-none();
    width: 20px;
    height: 20px;	
}

.radio-group{
	input[type="radio"], input[type="checkbox"] {
    display: none;
  }
  label {
    padding-left: 1.45em;
    
  }
  input[type="radio"] + label   {
	  background:url(../../images/creditoPyme/radio.svg) no-repeat center left !important;
	  background-size: 19px !important;
	  padding-right: 5px;
  }
  input[type="radio"]:checked + label {
	  background:url(../../images/creditoPyme/radio-hover.svg) no-repeat center left !important;
	  background-size: 19px !important;
  }
}

/*radio y checkbox style*/
.filtro-group{
	*,
	*:after,
	*::before {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}

	.ac-custom {
		ul, ol {
			list-style: none;
			padding: 0;
			margin: 0 auto;
			width: 100%;
			text-align: center;
			li {
				margin: 0 auto;
				padding: 5px 0;
				position: relative;
				list-style: none;
				width: 20%;
				float: left;
				
				&:hover label{
					background-color: #c98805;
color: white;
				}
			}
		}
		label {
			display: inline-block;
			position: relative;
			font-size: 1em;
			padding: 0 ;
			vertical-align: top;
			color: rgba(0,0,0,0.2);
			cursor: pointer;
			-webkit-transition: color 0.3s;
			transition: color 0.3s;
			width: 100%;
			height: 70px;
			line-height: 70px;
			
		}
		input[type="checkbox"],
		input[type="radio"],
		label::before {

			left: 0;
			margin-top: 0px;
			position: absolute;
			cursor: pointer;
			width: 100%;
			height: 70px;
			line-height: 70px;
		}

		input[type="checkbox"],
		input[type="radio"] {
			opacity: 0;
			@include appearance-none();
			display: inline-block;
			vertical-align: middle;
			z-index: 100;
		}

		label::before {
			content: '';
			border: 0px solid white;
			-webkit-transition: opacity 0.3s;
			transition: opacity 0.3s;
		}
		
		input[type="checkbox"] + label,
		input[type="radio"] + label {
			color: $gray-1;
			background-color: white;
			height: 70px;
			line-height: 70px;
			width: 97%;
			margin: 0 3%;
			text-align: center;
			border: 1px solid $gray-3;
			font-weight: normal;
		} 

		input[type="checkbox"]:checked + label,
		input[type="radio"]:checked + label {
			color: white;
			background-color: $yellow;
			height: 70px;
			line-height: 70px;
			width: 97%;
			margin: 0 3%;
			border: 1px solid $yellow; 
			border-bottom: 2px solid $yellow-2;
			border-right:  2px solid $yellow-2;
		} 

	
		input[type="checkbox"]:checked + label::before,
		input[type="radio"]:checked + label::before {
			opacity: 0.8;
			width: 100%;
		}
		
	}
		
	.ac-radio label::before {
		border-radius: 50%;
	}
}

.datos-contacto .filtro-group{
		.ac-custom {

		label {
			padding-left: 10px;
			padding-top: 20px;
		}
	
			p{
		height: 15px;
		line-height: 10px;
	}
	}
}


.form-group{
	padding-left: 2%;
	
	&:first-child{
		padding-right: 2%;
		padding-left: 10%;
	}	
}

/*siguientes pasos*/
.footer-requisitos {
	border-top: 1px solid $gray-3;
	padding-top: 10px;
	.icon{
		color: $blue-5;
		text-align: center;
		margin-right: 10px;
		p{font-size: 12px;
		text-align: center;
		}
	}
}

.icon.icon-requisitos{
	position: absolute; border-radius: 50%; top: -10px; right: -10px; height: 70px; width: 70px; font-size: 3em; color: $blue-5; background-color: white;
}

.perfilador ul.nav-menu > li a p {
    font-size: .9em;
    color: $gray-2;
}

.row.campos-form{
	margin:30px 0;
	padding: 20px;
}

h4{
	color:$blue-2;
	font-size: 1em;
}

input[type="submit"]:disabled {
	opacity: .7;
}

input[type="submit"] {
	opacity: 1;
}

.row.radio-group{
	/*padding-left: 15px !important;
	padding-right: 15px !important;*/
	padding-top: 20px;
}

#boton-continuar{
	float: right;
}

.detalles{
	padding: 0 15px;
}

.requisitos{
	background-color: $gray-4;
	padding-top: 25px;
	position: relative;
	margin-top: 40px;
	ul{
		height: auto;  list-style: none; 
		border-top: 20px solid $blue-4;
		margin: 20px;
		margin-top: 0 !important;
		padding: 20px 0;

		li{
			height: 50px;
			line-height: 50px;
			border-bottom: 2px solid $gray-3;
			padding-left: 5px;
			
			p {
				margin: 0;
				float: left;
			}
		}
	}
}

.footer-requisitos{
	.icon::before {
		font-size: 40px;
	}
}

.icon-cerrar-error::before, .icon-check::before {
	margin-right: 5px;
	float: left !important;
	line-height: 50px !important;
}

.icon-cerrar-error::before {
	color:  $magenta-2;
}

.icon-check::before {
	color: $green-1;
}

.mensaje{
	padding: 15px;
	.requerimientos-rechazado, .requerimientos-aceptado {
		margin-top: 10px;
		height: auto;
		min-height: 60px;
		color: white;
		p{
			position: relative;
			font-size: 1.2em;
			margin: 0;
			
			@include align-items-center();
			@include display-flex();
			
			span{
				@include align-items-center();
				@include display-flex();
				@include justify-content-center();
				padding-left: 5px;
			}
		}	
		.icon-rechazado::before, .icon-aceptado::before {
			font-size: 2.2em;
			margin-top: 5px;
			padding: 10px 0;
		}
		.icon-rechazado::before{
			color: white;
		}
		.icon-aceptado::before {
			color: white;
		}
	}
	.requerimientos-rechazado{
		background-color: $magenta-2;
	}
	.requerimientos-aceptado{
		background-color: $green-2;
	}
}

.row-requisitos{
	padding: 0 10px;
}

/*tipo de creditos*/
.nav-tabs > li > a{
	color:$blue-2 !important;
}

.nav-tabs > li.active > a {
    color: white !important;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li > a:hover{
	color:white;
	text-align: center;
}

.tipo-de-credito{
	.tab-content > .tab-pane {
    	display: inline-block;
	}
	.nav.nav-tabs{
		display:none;
		width: 100%;
	}
	.row-tipo-credito {
		margin-top: 30px;
		.credito-simple, .credito-tarjeta{
			padding: 0;
			.content-tipo-credito{
				border:1px solid $gray-4;
				border-radius: 10px;
				margin:15px;
				height: auto;
				text-align: center;

				h1{
					font-size:1.2em !important;
					background-color: $gray-4;
					min-height: 60px;
					height: 60px;
					color: $blue-5;
					margin-top: 0;
					padding-top: 0;
					border-radius: 10px 10px 0px 0px;
					padding: 0 10px;
					@include display-flex();
					@include justify-content-flex-start();
					@include align-items-center();
					font-weight: normal;
					text-align: left;

				}


				ul, p, h4{
					padding: 0 20px;
					color:$gray-2;
					text-align: left;
				}

				h4{
					@include bold();
				}


				ul{min-height: 180px;
				padding-left: 35px ;}

				p{
					color:$blue-2;
					min-height: 80px;
				}
			}
			
			.icon-credito-simple::before, .icon-credito-tarjeta::before {
			font-size: 2.5em;
			padding-right: 5px;
		}
		}
	
	}
}

.relative {
	position: relative;
}

p.text-edad{
	position: absolute; top: 40px; padding-left: 35px; z-index: -2; color:$gray-1;
}

select.form-control{
	padding-left: 15px !important;
}

div.icon.icon-enviar-resultados, div.icon.icon-atencion-cliente{
	float: left;
}

.radio-on{
	height: 80px;
	padding: 5px;
}

.background-gray-1, .background-gray-2{
	background-color: $gray-4;
	min-height: 90px;
	height: auto;
	padding: 10px;
	border-radius: 5px;
}

.background-gray-1{
	margin-left: 10px;
}

.background-gray-2{
	margin-right: 10px;
}

.li-ok{
	border-bottom-color:  $blue-2 !important;
a{
	opacity: .5;
	span, p{color: $blue-2 !important;}
	
}
	}

.content-PyME{
	padding-bottom: 100px;
}

.icon-requisitos::before {
    font-size: 1.6em;
}

li.icon-check{
	color: $gray-1;
}

li.icon-cerrar-error{
	color: $gray-9;
}

input.form-control{
	border-radius: 0;
}

.icon-titulo{
width: 40px;
float: left;
height: 80px;
line-height: 80px;
padding-top: 10px;
color: $blue-2;}

/*estilos input type range*/
input[type=range] {
  -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
  width: 100%; /* Specific width is required for Firefox. */
  background: transparent; /* Otherwise white in Chrome */
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type=range]:focus {
  outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}

input[type=range]::-ms-track {
  width: 100%;
  cursor: pointer;

  /* Hides the slider so custom styles can be added */
  background: transparent; 
  border-color: transparent;
  color: transparent;
}

/* Special styling for WebKit/Blink */
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 1px solid #000000;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background: #ffffff;
  cursor: pointer;
  margin-top: -14px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; /* Add cool effects to your sliders! */
}

/* All the same stuff for Firefox */
input[type=range]::-moz-range-thumb {
  box-shadow: 0px 3px 0px $yellow-2, 0px 0px 0px $yellow-2;
  border: 8px solid $yellow-3;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: white;
  cursor: pointer;
}

/* All the same stuff for IE */
input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px $yellow-2, 0px 0px 1px $yellow-2;
  border: 1px solid #000000;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background: #ffffff;
  cursor: pointer;
}

/*range slider*/
[type='range']{
	-webkit-appearance:none;margin:12px 0;width:100%;
}

[type='range']:focus{
	outline:0;
}

[type='range']:focus::-webkit-slider-runnable-track, [type='range']:focus::-ms-fill-lower, [type='range']:focus::-ms-fill-upper {
	background:$yellow;
}

[type='range']::-webkit-slider-runnable-track{
	cursor:pointer;
	height:8px;transition:all .2s ease;width:100%;box-shadow:1px 1px 1px rgba(0,0,0,0.2),0 0 1px rgba(13,13,13,0.2);
	background:#eceff1;border-radius:5px;
}

[type='range']::-webkit-slider-thumb{
	box-shadow:4px 4px 4px rgba(0,0,0,0.2),0 0 4px rgba(13,13,13,0.2);
	background:#607d8b; 
	border:2px solid #eceff1;
	border-radius:12px;
	cursor:pointer;
	height:24px;
	width:24px;-webkit-appearance:none;
	margin-top:-10px;
	background-image: url(../../images/creditoPyme/radio-hover.svg);
	background-size: cover;
}

[type='range']::-moz-range-track{cursor:pointer;height:8px;
	transition:all .2s ease;width:100%;
	box-shadow:1px 1px 1px rgba(0,0,0,0.2),0 0 1px rgba(13,13,13,0.2);
	background-color:#eceff1; border:2px solid #cfd8dc; border-radius:5px;
}

[type='range']::-moz-range-thumb{
	box-shadow:4px 4px 4px rgba(0,0,0,0.2),0 0 4px rgba(13,13,13,0.2);
	background:white;
	border:6px solid $yellow;
	border-radius:12px;cursor:pointer;
	height:24px;width:24px;
}

[type='range']::-ms-track{
	cursor:pointer;
	height:8px;transition:all .2s ease;
	width:100%;background:transparent;border-color:transparent;
	border-width:12px 0;color:transparent;
}

[type='range']::-ms-fill-lower{
	box-shadow:1px 1px 1px rgba(0,0,0,0.2),0 0 1px rgba(13,13,13,0.2);background:#dde3e6;border:2px solid #cfd8dc;
	border-radius:10px;
}

[type='range']::-ms-fill-upper{
	box-shadow:1px 1px 1px rgba(0,0,0,0.2),0 0 1px rgba(13,13,13,0.2);background:#eceff1;border:2px solid #cfd8dc;
	border-radius:10px;
}

[type='range']::-ms-thumb{box-shadow:4px 4px 4px rgba(0,0,0,0.2),0 0 4px rgba(13,13,13,0.2);background:white;
	border:2px solid $yellow;
	border-radius:12px;cursor:pointer;
	height:24px;
	width:24px;
	margin-top:0;
}

.rangeSlider, .rangeSlider__fill {
    background: #ccc;
    display: block;
    height: 20px;
    width: 100%;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
	border:1px solid #ccc;
}

.rangeSlider {
    position: relative;
}

.rangeSlider--disabled {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
    opacity: 0.4;
}

.rangeSlider__fill {
    background: #F2B02A;
    position: absolute;
    top: 0;
    z-index: 2;
}

.rangeSlider__handle {
    background: white;
    border: 8px solid $yellow;
    cursor: pointer;
    display: inline-block;
    width: 40px;
    height: 40px;
    position: absolute;
    top: -10px;
    z-index: 3;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(100%, rgba(0, 0, 0, 0.1)));
    background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.1));
    background-image: -moz-linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.1));
    background-image: -o-linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.1));
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.1));
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
}

/*rangerSlider*/
.rangeSlider, .rangeSlider__fill {
    background: #ccc;
    display: block;
    height: 14px;
    width: 100%;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
	border:1px solid #ccc;
}

.rangeSlider {
    position: relative;
}

.rangeSlider--disabled {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
    opacity: 0.4;
}

.rangeSlider__fill {
    background: #F2B02A;
    position: absolute;
    top: 0;
    z-index: 2;
}

.rangeSlider__handle {
    background: white;
    border: 8px solid #F2B02A;
    cursor: pointer;
    display: inline-block;
    width: 40px;
    height: 40px;
    position: absolute;
    top: -10px;
	
	
    z-index: 3;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(100%, rgba(0, 0, 0, 0.1)));
    background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.1));
    background-image: -moz-linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.1));
    background-image: -o-linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.1));
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.1));
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
}

.align-center{
	text-align: center !important;
	float: none !important;
}

.margin-top-70{
	margin-top: 70px !important;
}

.simulador{
	padding: 15px !important;
	p{
		color:$gray-1;
		font-size: 1.3em;
		font-weight: 100 !important;
	}
}

.title-icon{
	margin-top: 10px;
	width: 100%;
	height: 50px;
	margin-bottom: 20px;
	div.icon{color:$blue-2;
		font-size: 2.5em;
		line-height: 50px;
		padding-top: 10px;
		float: left !important;
		height: 30px;
		width: 45px;}
	h1{
		color:$blue-2;
		font-size: 1.5em;
		float: left !important;
		height: 50px;
		width: calc(100% - 45px);
	}
}

.row.row-simulador{
	
	height: 120px; padding-top: 0px; margin-bottom: 20px; 
	
	div.col-lg-12{height: 120px;}
	
	
	
	h2 {font-size: 1.3em; color: $blue-2; font-weight: 500; margin-top: 0;}
	input[type='range'] {
		
	}
	.relative{
		position: relative;
	}
	.sim-title{
		height: 50px;
		@include display-flex();
		h2{
			align-items:center;
			@include display-flex();
			height: 50px;
			
		}
	}
	.pesos{ float: right; 
		margin-bottom: 20px;
		padding: 0;
padding-right: 20px;
		
		input[type='text'] { 
			color: $yellow; 
			font-size: 1.4em; 
			@include bold();
			padding-left: 30px; 
			min-width: 30px;
			text-align: right;
			padding-right: 10px;
			max-width: 240px;
			height: 50px;
			}
		
	}
}

.row-simulador-resumen{
	background-color: $gray-4;
	border-radius: 10px;
	padding: 20px;
	margin: 0;
}

.col-resumen{
	@include display-flex();
	@include flex-direction-row();
	text-align: center;
	@include justify-content-center();
	.text-resumen{
		@include bold();
		color: $blue-2;
		height: 60px;
		line-height: 60px;
	 margin-bottom: 0; text-align: center;}
	.input-resumen { 
		span{text-align: center; margin-left: 5px;  height: 60px; border-radius: 10px; background-color: white; padding: 0px 20px; color: $yellow; font-size: 2em; line-height: 60px;
		padding: 13px 15px 8px 15px !important;
		@include bold();}
	}
	
	.fecha-pago{
	color: $blue-2;
	@include bold();
	height: 60px;
		line-height: 60px;
		margin-left: 20px !important;
		text-align: center;
		
	span{
		color: $gray-1;
		@include normal();
	 text-align: center;}
}
}

.modal-content {
    -webkit-box-shadow: 0 0px 0px rgba(0,0,0,.5);
    box-shadow: 0 0px 0px rgba(0,0,0,.5);
	border: 0;
}

/*table*/
/* DivTable.com */
.modal-content{width: 100%; background-color: #f2f2f2; font-size: 100%;}

.divTable{
	display: table;
	width: 100%;  
	background-color: white;
	
}

.modal-dialog{
	width: 100%;
max-width: 960px;}

.divTableRow {
	display: table-row;
	

}

.divTableCell, .divTableHead {
	border: .3px solid $gray-3;
	display: table-cell;
	padding: 10px 5px;
	font-size: .8em;
	text-align: center;
	font-weight: 100;
	@include align-items-center();

}

.divTableHeading {
	background-color: $blue-2;
	display: table-header-group;
	color: white;
	
	.divTableCell{
		background-color: $blue-2;
	}
  
	

}

.divTableFoot {
	display: table-footer-group;
	@include bold();
}

.divTableBody {
	display: table-row-group;
	text-align: center;
	color: $gray-2;
	font-size: .9em;
	
	/*@include display-flex();
    text-align: center;
    width: 100%;
    @include justify-content-space-around();
    @include flex-direction-column(); */
}

.close{
	opacity: 1 !important;
	span{
		color: $blue-2;
		font-size: 1.6em;
	}
}

.modal-title{ 
	font-size: 1.5em; font-weight: 700; margin-bottom: 10px;
}

.detalle-title {
	p{color: $gray-2;
	height: 15px;}

	span{color: $blue-2;}
}

.modal-header .row:last-child .detalle-title:last-child{
	text-align: right;
}

.modal-footer{
	p{
		font-size: .7em; text-align: left;  color:$gray-1; padding: 0; height: auto; padding-bottom:5px;
	}
}

.font-blue{
	color: $blue-2;
}

.center{
	text-align: center;
}

.modal.fade{
	padding: 1em;

    background-color: rgba(255,255,255,.8);

}

.btn-link{
	color: $blue-3;
	font-style: italic;
	background-color: transparent;
	border: 0;
	text-decoration:underline;
	padding-top: 20px;
	text-align: left;
	padding-left: 0;
	margin-left: 0;
}

.meses{
	height: 60px;
padding-top: 15px;
color: $gray-3;
@include display-flex();
@include justify-content-space-between();
text-align: center;
	.mes{color:$gray-1;}
}








/*tabla*/

.classTablaSimple{
	padding: 0rem;
		margin: 0rem;
		width: 100%;
}
	.classTablaSimple table{
			width: 100%;
			border-collapse: collapse;
		  	border-spacing: 0rem;
		}
			.classTablaSimple table tr{
				/*border: solid 0.1rem;*/
			}
				.classTablaSimple table tr th, td{
					text-align: center;
					font-weight: 100 !important;
				}
			.classTablaSimple table .TBLCabecera{
				background-color: $blue-2;
				color: white;
			}
			.classTablaSimple table .TBLFilaDatosPar{
				background-color: $gray-3;
			}
			.classTablaSimple table .TBLFilaDatosImpar{
				background-color: white;
			}
			
.divTableCell, .divTableHead {
  border: .5px solid $gray-3;
  display: table-cell;
  padding: 10px 5px;
  font-size: .8em;
 background-color:white;  }
 
.classTablaSimple table tr th, td{
					text-align: center;
					font-weight: 100 !important;
	border: 1px solid white;
				}
 .centro {text-align: center;}
 
 .divTableCellamort {
 border: 1px solid $gray-3;
  display: table-cell;
  padding: 10px 5px;
  font-size: .8em;
  text-align: center;
  }
  
  .divTableHeadingamort {
 background-color: $blue-2;
  
  color: white;
text-align: center;  }
  

th{
	min-height: 80px;
	padding: 10px 5px;
	font-weight: 100;
}
td{
	color:$gray-1;
}
.row-simulador input[type="text"]{
	float: right; width:30%; max-width:240px;
color: $yellow;
text-align: right;
padding-right: 10px;
font-size: 1.4em;
	@include bold();
	border-radius: 5px;
}
	.rangeSimulador{
		margin-top:70px;}
	.sim-title{
		position:absolute; left:15px;
width:70%;
		
		
		h2{
font-size: 1.2em !important;
		@include regular();} 
}

.simulador p{
	font-weight: 100;
	span.bold{
	@include bold();
	}
	
}

.simulador form{
	margin-top: 35px;
}

.cat{
	font-size: 1.4em;
}

.content-tipo-credito p{
	@include regular();
}
.sucursales ul li {
	width: 33% !important;
	
	label {
    padding-top: 8px !important;
	text-align: left !important; line-height: auto;
	}
}
.politicasPrivacidad{
	width: 100%; 
	text-align: right; 
	font-style: italic;
	p {
		a {
			color: $blue-3;
		}
	}
}
.btn-yellow-fill {max-width: 266px;}

.datos .title{
    	padding-left: 0 !important;
	height: 65px;
	h4{
		font-size:1.3em;
	}

	}




.row {
   margin-right: 0;
  margin-left: 0; 
	div:first-child{
		padding-left:0 !important;
	}
	div:last-child{
		padding-right: 0 !important;
	}
	

}


.modal-dialog.modal-small {
    width: 100%;
    max-width: 600px;
	
	width: 100%;
margin-left: auto;
margin-right: auto;
}
.modal-backdrop {
  background-color: white;
}

.alerta .modal-content{
	box-shadow: 0px 5px 5px $gray-3;
		margin-top: 45%;
	.modal-body {
		padding: 40px;
	h4{
		text-align: center;
		width: 100%;
	}}

}


.campos-form-white{
	margin-bottom: 20px;
}

.alerta{
	border-left: none;border-right: none;border-radius: 0;text-align: left; padding: 10px 0px 10px 0px;color: #C8175E;font: 15px arial;margin-bottom: 1px;
}



.modal-body-mobile{display:none;
width: 100%;
	.divTable .divTableHeading{
		width: 100%; text-align: center;
		background-color: white;

		.divTableCell:first-child{
			text-align: center;
		}
		
		.divTableCell:first-child{
			width: 18%;
		}
		.divTableCell:nth-child(2){
			width: 40%;
			border-left: 0px;
			border-right: 0px;
		}
		.divTableCell:last-child{
			width:42%;
				    padding-right: 10px;
		}
	}
	
	a:hover table {
   
		color: $blue-2;
}
}

.panel-default>.panel-heading{
	background-color: white;
}

.panel-body span{
	color:$blue-2;
	font-family: "StagSans Book", "sans-serif";
}

.panel-group .panel+.panel{
	margin-top: 0;
}


.panel-heading  {
	background-image:url(../../images/creditoPyme/tab-blue.svg);
	background-size: 20px !important;
	background-position:98% center;
	background-repeat: no-repeat !important;
	padding: 0;
	&:hover{
					background-color: #f2f2f2;
				}
	table{
		width: 100%;
		tr{
			height: 40px;
			
			
			td{
				border: 1px solid #f2f2f2 !important;
				
				
			font-family: "StagSans Book", "sans-serif";
			}
			td:first-child{width: 18%;
			}
			td:nth-child(2){width: 40%;
			}
			td:last-child{width:42%;
				    padding-right: 10px;
			}
		}
	}
}

.panel-collapse.collapse{
	 background-color: white;
	.panel-body{
		div{
			text-align: left;
			span{}
		} 
		
	}
		
}
	
.bs-example{max-height: 300px; overflow: auto;}
.panel-default {
	border-top:0;
	margin-bottom: 5px !important;
}

/*tabla mobile*/


@import '_responsive'; 
