/* Scss Document */
/* Scss Document */
/*colores*/
/*font-size*/
/* Scss Document */
/*@mixin parrafo-1 (){}
@mixin parrafo-2 (){}
@mixin parrafo-3 (){}
@mixin titulo-1 (){}
@mixin titulo-2 (){}
@mixin titulo-3 (){}
@mixin titulo-4 (){}
@mixin titulo-5 (){}
@mixin titulo-6 (){}*/
@import url("stylesheet.css");
html, body {
  font-size: 100% !important; }

/*font*/
body, td, th {
  font-family: "StagSans Light", sans-serif; }

a {
  font-family: "StagSans Light", sans-serif; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'StagSans Book', 'sans-serif' !important;
  font-weight: bold !important; }

.container {
  width: 100%;
  max-width: 960px;
  padding-right: 15px !important;
  padding-left: 15px !important; }

.tab-content {
  margin-top: -18px; }

.container {
  padding-right: 0px;
  padding-left: 0px;
  margin-right: auto;
  margin-left: auto; }

.nav-menu > li.active > a {
  background-color: transparent !important; }

a {
  text-decoration: none !important; }

.span-gray-bold {
  color: #666666;
  font-family: 'StagSans Book', 'sans-serif' !important;
  font-weight: bold !important; }

.span-blue-bold {
  font-family: 'StagSans Book', 'sans-serif' !important;
  font-weight: bold !important;
  color: #006EC1; }

ul.ul-aceptados {
  margin-left: 15px;
  padding-left: 0px; }
  ul.ul-aceptados li {
    list-style: url(../../images/creditoPyme/icon-list.svg);
    margin-left: 0;
    color: #666666;
    padding-left: 0px; }

.nav > li > a {
  padding: 5px 5px; }

.nota {
  font-style: italic;
  font-size: .8em; }

select, select.form-control {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-image: url(../../images/creditoPyme/select.svg) !important;
  background-repeat: no-repeat;
  background-size: 1.7em;
  background-position: 97% center;
  padding: 15px 40px 0px 0px !important;
  padding-top: 0px !important;
  padding-right: 0px !important;
  -webkit-box-shadow: inset 0 1px 1px transparent;
  box-shadow: inset 0 1px 1px transparent; }

blockquote {
  padding: 10px 0px;
  margin: 0 0 20px;
  font-size: 17.5px;
  border-left: 0px solid #EEEEEE;
  border-bottom: 1px solid #CCCCCC; }
  blockquote:last-child {
    border-bottom: 0; }
  blockquote h4 {
    color: #666666; }
  blockquote span {
    color: #006EC1; }
  blockquote p {
    color: #666666; }
  blockquote a {
    color: #009EE5;
    text-decoration: underline !important; }

h3 {
  color: #094FA4; }

.form-control {
  -webkit-box-shadow: inset 0 1px 1px transparent;
  box-shadow: inset 0 1px 1px transparent; }

.bold {
  font-family: 'StagSans Book', 'sans-serif' !important;
  font-weight: bold !important; }

/*menu*/
ul.nav-menu {
  display: -webkit-box;
  display: -moz-box;
  display: -o-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  width: 100%;
  /*height: 100px;*/
  margin-top: 20px; }
  ul.nav-menu > li {
    float: left;
    display: -webkit-box;
    display: -moz-box;
    display: -o-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    align-items: center;
    -ms-flex-align: center;
    width: 25%;
    border-bottom: 3px solid #F2F2F2; }
    ul.nav-menu > li a {
      width: 100%;
      text-align: center !important;
      cursor: default; }
      ul.nav-menu > li a span, ul.nav-menu > li a p {
        font-size: 1em;
        color: #AAAAAA; }
      ul.nav-menu > li a P {
        margin: 0; }
      ul.nav-menu > li a span {
        font-size: 2em;
        display: -webkit-box;
        display: -moz-box;
        display: -o-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        justify-content: center;
        -webkit-justify-content: center; }
    ul.nav-menu > li .active {
      border-bottom: 3px solid #006EC1; }

.icon-perfila-negocio::before, .icon-tipo-credito::before, .icon-siguientes-pasos::before, .icon-datos-contacto::before {
  height: 24px; }

.icon-perfila-negocio::before {
  font-size: .8em; }

li.active {
  border-bottom: 3px solid #006EC1 !important; }

ul.nav-menu > li.active a span, ul.nav-menu > li.active a p {
  color: #006EC1;
  font-family: 'StagSans Book', 'sans-serif' !important;
  font-weight: normal !important; }

.nav-menu > li.active > a, .nav-menu > li.active > a:focus, .nav-menu > li.active > a:hover {
  border: 0px solid #F2F2F2; }

.nav > li > a:focus, .nav > li > a:hover {
  background-color: transparent;
  border: 0; }

.title-section {
  display: none;
  height: 45px;
  text-align: center;
  background-color: #006EC1;
  line-height: 45px;
  margin-top: -18px; }
  .title-section h3 {
    color: white;
    font-size: 1.4em;
    line-height: 45px;
    height: 45px; }

/*termina menu*/
/*perfilador*/
.perfilador .tab-perfila-tu-negocio div.row.row-btn {
  margin: 30px 0px; }
  .perfilador .tab-perfila-tu-negocio div.row.row-btn .col-btn a {
    text-decoration: none; }
  .perfilador .tab-perfila-tu-negocio div.row.row-btn .col-btn:first-child .btn-option {
    float: right; }
  .perfilador .tab-perfila-tu-negocio div.row.row-btn .col-btn .btn-option {
    background-color: #fff;
    background: #f2f2f2;
    /* Old browsers */
    background: -moz-linear-gradient(top, #f2f2f2 0%, #c8c8c8 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #f2f2f2 0%, #c8c8c8 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #f2f2f2 0%, #c8c8c8 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#c8c8c8',GradientType=0 );
    /* IE6-9 */
    width: 90%;
    max-width: 370px;
    max-height: 115px;
    text-align: center;
    color: #006EC1;
    text-decoration: none;
    border-radius: 4px; }
    .perfilador .tab-perfila-tu-negocio div.row.row-btn .col-btn .btn-option:hover {
      background: #006ec1;
      /* Old browsers */
      background: -moz-linear-gradient(top, #006ec1 0%, #094fa4 100%);
      /* FF3.6-15 */
      background: -webkit-linear-gradient(top, #006ec1 0%, #094fa4 100%);
      /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to bottom, #006ec1 0%, #094fa4 100%);
      /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#006ec1', endColorstr='#094fa4',GradientType=0 );
      /* IE6-9 */
      color: white; }
    .perfilador .tab-perfila-tu-negocio div.row.row-btn .col-btn .btn-option p {
      height: 117px;
      align-items: center;
      -ms-flex-align: center;
      display: -webkit-box;
      display: -moz-box;
      display: -o-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: flex;
      justify-content: center;
      -webkit-justify-content: center;
      text-align: left; }
    .perfilador .tab-perfila-tu-negocio div.row.row-btn .col-btn .btn-option p.icon {
      font-size: 1.4em; }
    .perfilador .tab-perfila-tu-negocio div.row.row-btn .col-btn .btn-option [class^="icon-"]::before, .perfilador .tab-perfila-tu-negocio div.row.row-btn .col-btn .btn-option [class*=" icon-"]::before {
      font-size: 2em;
      padding-right: 20px; }
  .perfilador .tab-perfila-tu-negocio div.row.row-btn span.icon {
    font-size: 2.5em; }
.perfilador .text {
  margin-top: 60px;
  text-align: center;
  font-size: 1.5em;
  color: #606060; }

/*persona fisica*/
.btn-yellow {
  border: 3px solid #FDBD2C;
  width: 45%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  height: 48px;
  color: #FDBD2C;
  line-height: 48px; }

.btn-green {
  background-color: #7EC254;
  width: 266px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  height: 48px;
  color: white;
  line-height: 48px;
  text-align: center;
  border-radius: 4px;
  float: right;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#9fd05e+0,86c82d+100 */
  background: #9fd05e;
  /* Old browsers */
  background: -moz-linear-gradient(top, #9fd05e 0%, #86c82d 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #9fd05e 0%, #86c82d 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #9fd05e 0%, #86c82d 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9fd05e', endColorstr='#86c82d',GradientType=0 );
  /* IE6-9 */
  border: 1px solid #86c82d !important; }

.btn-blue {
  background-color: #006EC1;
  width: 266px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  height: 48px;
  color: white;
  line-height: 48px;
  text-align: center;
  border-radius: 4px;
  background: #006ec1;
  /* Old browsers */
  background: -moz-linear-gradient(top, #006ec1 0%, #094fa4 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #006ec1 0%, #094fa4 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #006ec1 0%, #094fa4 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#006ec1', endColorstr='#094fa4',GradientType=0 );
  /* IE6-9 */
  border: 1px solid #009EE5 !important;
  opacity: 1 !important;
  font-family: 'StagSans Book', 'sans-serif' !important;
  font-weight: normal !important; }

/*.btn{text-align: center;}*/
.btn-yellow-fill {
  background-color: #FDBD2C;
  width: 75%;
  margin-left: auto !important;
  margin-right: auto !important;
  height: 50px;
  line-height: 50px;
  color: white;
  border-radius: 4px;
  border: 0;
  margin-bottom: 30px;
  border: 1px solid #FDBD2C;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fdce6f+0,fdbd2c+100 */
  background: #fdce6f;
  /* Old browsers */
  background: -moz-linear-gradient(top, #fdce6f 0%, #fdbd2c 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #fdce6f 0%, #fdbd2c 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #fdce6f 0%, #fdbd2c 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdce6f', endColorstr='#fdbd2c',GradientType=0 );
  /* IE6-9 */
  font-family: 'StagSans Book', 'sans-serif' !important;
  font-weight: normal !important; }

.simulador .btn-yellow-fill {
  width: 266px;
  float: right; }

input[type="submit"] {
  border: 0; }

/*forms*/
.bloque-1 {
  margin-top: 60px; }

.bloque-2 {
  padding: 0px 10px; }

.campos-form {
  padding-top: 20px;
  background-color: #EEEEEE;
  border-radius: 10px;
  padding: 5px;
  margin-top: 10px; }
  .campos-form p {
    font-size: 1.3em !important;
    min-height: 75px;
    height: 80px;
    color: #006EC1;
    border-radius: 10px 10px 0px 0px;
    font-size: 1em;
    display: -webkit-box;
    display: -moz-box;
    display: -o-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: flex-start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: center;
    align-items: center;
    -ms-flex-align: center;
    font-weight: normal;
    margin: 0;
    padding: 0;
    font-family: 'StagSans Book', 'sans-serif' !important;
    font-weight: bold !important; }
  .campos-form .icon.icon-persona-fisica::before, .campos-form .icon.icon-persona-moral::before {
    font-size: 2em;
    padding-right: 5px; }
  .campos-form input, .campos-form select {
    margin-top: 15px;
    padding-left: 10px !important; }

input[type="text"], select {
  height: 50px;
  width: 100%;
  border: 1px solid #CCCCCC; }

.form-control {
  height: 50px; }

label {
  color: #006EC1; }

.title {
  height: 50px;
  width: 100%;
  float: none;
  clear: both;
  padding: 20px 0 0 5px; }

.no-label {
  margin-top: 28px; }

.filtros .filtro-group {
  background-color: #F2F2F2;
  padding: 0px 20px 0px 20px;
  border-radius: 0px 0px 10px 10px !important;
  width: calc(100% - 40px;);
  margin: 0px; }
  .filtros .filtro-group .col-filtro {
    padding: 10px 0; }
  .filtros .filtro-group:first-child {
    border-radius: 10px 10px 0px 0px !important; }
  .filtros .filtro-group h4 {
    width: 100%;
    height: 40px;
    margin: 0 !important;
    padding: 0 !important; }
    .filtros .filtro-group h4 .icon-antiguedad::before, .filtros .filtro-group h4 .icon-rango-ventas::before {
      font-size: 1.4em; }

.datos-contacto .filtros .filtro-group {
  margin-top: 30px;
  padding-bottom: 25px; }
  .datos-contacto .filtros .filtro-group:first-child {
    border-radius: 10px 10px 10px 10px !important; }
  .datos-contacto .filtros .filtro-group h4 {
    width: 100%;
    height: 40px;
    margin: 0 !important;
    padding: 0 !important; }
    .datos-contacto .filtros .filtro-group h4 .icon-antiguedad::before, .datos-contacto .filtros .filtro-group h4 .icon-rango-ventas::before {
      font-size: 1.4em; }

.radio {
  margin: 0; }

.radio-group .radio {
  float: left;
  padding: 0;
  margin: 0;
  margin-right: 10px; }
.radio-group h5 {
  color: #006EC1; }

checkbox + .checkbox, .radio + .radio {
  margin-top: 0px; }

.radio label {
  color: #666666; }

input[type="radio"] {
  border: 3px solid #000 !important;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px; }

.radio-group input[type="radio"], .radio-group input[type="checkbox"] {
  display: none; }
.radio-group label {
  padding-left: 1.45em; }
.radio-group input[type="radio"] + label {
  background: url(../../images/creditoPyme/radio.svg) no-repeat center left !important;
  background-size: 19px !important;
  padding-right: 5px; }
.radio-group input[type="radio"]:checked + label {
  background: url(../../images/creditoPyme/radio-hover.svg) no-repeat center left !important;
  background-size: 19px !important; }

/*radio y checkbox style*/
.filtro-group *,
.filtro-group *:after,
.filtro-group *::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
.filtro-group .ac-custom ul, .filtro-group .ac-custom ol {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  width: 100%;
  text-align: center; }
  .filtro-group .ac-custom ul li, .filtro-group .ac-custom ol li {
    margin: 0 auto;
    padding: 5px 0;
    position: relative;
    list-style: none;
    width: 20%;
    float: left; }
    .filtro-group .ac-custom ul li:hover label, .filtro-group .ac-custom ol li:hover label {
      background-color: #c98805;
      color: white; }
.filtro-group .ac-custom label {
  display: inline-block;
  position: relative;
  font-size: 1em;
  padding: 0;
  vertical-align: top;
  color: rgba(0, 0, 0, 0.2);
  cursor: pointer;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
  width: 100%;
  height: 70px;
  line-height: 70px; }
.filtro-group .ac-custom input[type="checkbox"],
.filtro-group .ac-custom input[type="radio"],
.filtro-group .ac-custom label::before {
  left: 0;
  margin-top: 0px;
  position: absolute;
  cursor: pointer;
  width: 100%;
  height: 70px;
  line-height: 70px; }
.filtro-group .ac-custom input[type="checkbox"],
.filtro-group .ac-custom input[type="radio"] {
  opacity: 0;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  display: inline-block;
  vertical-align: middle;
  z-index: 100; }
.filtro-group .ac-custom label::before {
  content: '';
  border: 0px solid white;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s; }
.filtro-group .ac-custom input[type="checkbox"] + label,
.filtro-group .ac-custom input[type="radio"] + label {
  color: #666666;
  background-color: white;
  height: 70px;
  line-height: 70px;
  width: 97%;
  margin: 0 3%;
  text-align: center;
  border: 1px solid #CCCCCC;
  font-weight: normal; }
.filtro-group .ac-custom input[type="checkbox"]:checked + label,
.filtro-group .ac-custom input[type="radio"]:checked + label {
  color: white;
  background-color: #FDBD2C;
  height: 70px;
  line-height: 70px;
  width: 97%;
  margin: 0 3%;
  border: 1px solid #FDBD2C;
  border-bottom: 2px solid #C98805;
  border-right: 2px solid #C98805; }
.filtro-group .ac-custom input[type="checkbox"]:checked + label::before,
.filtro-group .ac-custom input[type="radio"]:checked + label::before {
  opacity: 0.8;
  width: 100%; }
.filtro-group .ac-radio label::before {
  border-radius: 50%; }

.datos-contacto .filtro-group .ac-custom label {
  padding-left: 10px;
  padding-top: 20px; }
.datos-contacto .filtro-group .ac-custom p {
  height: 15px;
  line-height: 10px; }

.form-group {
  padding-left: 2%; }
  .form-group:first-child {
    padding-right: 2%;
    padding-left: 10%; }

/*siguientes pasos*/
.footer-requisitos {
  border-top: 1px solid #CCCCCC;
  padding-top: 10px; }
  .footer-requisitos .icon {
    color: #094FA4;
    text-align: center;
    margin-right: 10px; }
    .footer-requisitos .icon p {
      font-size: 12px;
      text-align: center; }

.icon.icon-requisitos {
  position: absolute;
  border-radius: 50%;
  top: -10px;
  right: -10px;
  height: 70px;
  width: 70px;
  font-size: 3em;
  color: #094FA4;
  background-color: white; }

.perfilador ul.nav-menu > li a p {
  font-size: .9em;
  color: #75797B; }

.row.campos-form {
  margin: 30px 0;
  padding: 20px; }

h4 {
  color: #006EC1;
  font-size: 1em; }

input[type="submit"]:disabled {
  opacity: .7; }

input[type="submit"] {
  opacity: 1; }

.row.radio-group {
  /*padding-left: 15px !important;
  padding-right: 15px !important;*/
  padding-top: 20px; }

#boton-continuar {
  float: right; }

.detalles {
  padding: 0 15px; }

.requisitos {
  background-color: #F2F2F2;
  padding-top: 25px;
  position: relative;
  margin-top: 40px; }
  .requisitos ul {
    height: auto;
    list-style: none;
    border-top: 20px solid #6BB9E8;
    margin: 20px;
    margin-top: 0 !important;
    padding: 20px 0; }
    .requisitos ul li {
      height: 50px;
      line-height: 50px;
      border-bottom: 2px solid #CCCCCC;
      padding-left: 5px; }
      .requisitos ul li p {
        margin: 0;
        float: left; }

.footer-requisitos .icon::before {
  font-size: 40px; }

.icon-cerrar-error::before, .icon-check::before {
  margin-right: 5px;
  float: left !important;
  line-height: 50px !important; }

.icon-cerrar-error::before {
  color: #DA3851; }

.icon-check::before {
  color: #7EC254; }

.mensaje {
  padding: 15px; }
  .mensaje .requerimientos-rechazado, .mensaje .requerimientos-aceptado {
    margin-top: 10px;
    height: auto;
    min-height: 60px;
    color: white; }
    .mensaje .requerimientos-rechazado p, .mensaje .requerimientos-aceptado p {
      position: relative;
      font-size: 1.2em;
      margin: 0;
      align-items: center;
      -ms-flex-align: center;
      display: -webkit-box;
      display: -moz-box;
      display: -o-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: flex; }
      .mensaje .requerimientos-rechazado p span, .mensaje .requerimientos-aceptado p span {
        align-items: center;
        -ms-flex-align: center;
        display: -webkit-box;
        display: -moz-box;
        display: -o-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        justify-content: center;
        -webkit-justify-content: center;
        padding-left: 5px; }
    .mensaje .requerimientos-rechazado .icon-rechazado::before, .mensaje .requerimientos-rechazado .icon-aceptado::before, .mensaje .requerimientos-aceptado .icon-rechazado::before, .mensaje .requerimientos-aceptado .icon-aceptado::before {
      font-size: 2.2em;
      margin-top: 5px;
      padding: 10px 0; }
    .mensaje .requerimientos-rechazado .icon-rechazado::before, .mensaje .requerimientos-aceptado .icon-rechazado::before {
      color: white; }
    .mensaje .requerimientos-rechazado .icon-aceptado::before, .mensaje .requerimientos-aceptado .icon-aceptado::before {
      color: white; }
  .mensaje .requerimientos-rechazado {
    background-color: #DA3851; }
  .mensaje .requerimientos-aceptado {
    background-color: #6AC259; }

.row-requisitos {
  padding: 0 10px; }

/*tipo de creditos*/
.nav-tabs > li > a {
  color: #006EC1 !important; }

.nav-tabs > li.active > a {
  color: white !important; }

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li > a:hover {
  color: white;
  text-align: center; }

.tipo-de-credito .tab-content > .tab-pane {
  display: inline-block; }
.tipo-de-credito .nav.nav-tabs {
  display: none;
  width: 100%; }
.tipo-de-credito .row-tipo-credito {
  margin-top: 30px; }
  .tipo-de-credito .row-tipo-credito .credito-simple, .tipo-de-credito .row-tipo-credito .credito-tarjeta {
    padding: 0; }
    .tipo-de-credito .row-tipo-credito .credito-simple .content-tipo-credito, .tipo-de-credito .row-tipo-credito .credito-tarjeta .content-tipo-credito {
      border: 1px solid #F2F2F2;
      border-radius: 10px;
      margin: 15px;
      height: auto;
      text-align: center; }
      .tipo-de-credito .row-tipo-credito .credito-simple .content-tipo-credito h1, .tipo-de-credito .row-tipo-credito .credito-tarjeta .content-tipo-credito h1 {
        font-size: 1.2em !important;
        background-color: #F2F2F2;
        min-height: 60px;
        height: 60px;
        color: #094FA4;
        margin-top: 0;
        padding-top: 0;
        border-radius: 10px 10px 0px 0px;
        padding: 0 10px;
        display: -webkit-box;
        display: -moz-box;
        display: -o-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        justify-content: flex-start;
        -webkit-justify-content: flex-start;
        -ms-flex-pack: center;
        align-items: center;
        -ms-flex-align: center;
        font-weight: normal;
        text-align: left; }
      .tipo-de-credito .row-tipo-credito .credito-simple .content-tipo-credito ul, .tipo-de-credito .row-tipo-credito .credito-simple .content-tipo-credito p, .tipo-de-credito .row-tipo-credito .credito-simple .content-tipo-credito h4, .tipo-de-credito .row-tipo-credito .credito-tarjeta .content-tipo-credito ul, .tipo-de-credito .row-tipo-credito .credito-tarjeta .content-tipo-credito p, .tipo-de-credito .row-tipo-credito .credito-tarjeta .content-tipo-credito h4 {
        padding: 0 20px;
        color: #75797B;
        text-align: left; }
      .tipo-de-credito .row-tipo-credito .credito-simple .content-tipo-credito h4, .tipo-de-credito .row-tipo-credito .credito-tarjeta .content-tipo-credito h4 {
        font-family: 'StagSans Book', 'sans-serif' !important;
        font-weight: bold !important; }
      .tipo-de-credito .row-tipo-credito .credito-simple .content-tipo-credito ul, .tipo-de-credito .row-tipo-credito .credito-tarjeta .content-tipo-credito ul {
        min-height: 180px;
        padding-left: 35px; }
      .tipo-de-credito .row-tipo-credito .credito-simple .content-tipo-credito p, .tipo-de-credito .row-tipo-credito .credito-tarjeta .content-tipo-credito p {
        color: #006EC1;
        min-height: 80px; }
    .tipo-de-credito .row-tipo-credito .credito-simple .icon-credito-simple::before, .tipo-de-credito .row-tipo-credito .credito-simple .icon-credito-tarjeta::before, .tipo-de-credito .row-tipo-credito .credito-tarjeta .icon-credito-simple::before, .tipo-de-credito .row-tipo-credito .credito-tarjeta .icon-credito-tarjeta::before {
      font-size: 2.5em;
      padding-right: 5px; }

.relative {
  position: relative; }

p.text-edad {
  position: absolute;
  top: 40px;
  padding-left: 35px;
  z-index: -2;
  color: #666666; }

select.form-control {
  padding-left: 15px !important; }

div.icon.icon-enviar-resultados, div.icon.icon-atencion-cliente {
  float: left; }

.radio-on {
  height: 80px;
  padding: 5px; }

.background-gray-1, .background-gray-2 {
  background-color: #F2F2F2;
  min-height: 90px;
  height: auto;
  padding: 10px;
  border-radius: 5px; }

.background-gray-1 {
  margin-left: 10px; }

.background-gray-2 {
  margin-right: 10px; }

.li-ok {
  border-bottom-color: #006EC1 !important; }
  .li-ok a {
    opacity: .5; }
    .li-ok a span, .li-ok a p {
      color: #006EC1 !important; }

.content-PyME {
  padding-bottom: 100px; }

.icon-requisitos::before {
  font-size: 1.6em; }

li.icon-check {
  color: #666666; }

li.icon-cerrar-error {
  color: #a0a0a0; }

input.form-control {
  border-radius: 0; }

.icon-titulo {
  width: 40px;
  float: left;
  height: 80px;
  line-height: 80px;
  padding-top: 10px;
  color: #006EC1; }

/*estilos input type range*/
input[type=range] {
  -webkit-appearance: none;
  /* Hides the slider so that custom slider can be made */
  width: 100%;
  /* Specific width is required for Firefox. */
  background: transparent;
  /* Otherwise white in Chrome */ }

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none; }

input[type=range]:focus {
  outline: none;
  /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */ }

input[type=range]::-ms-track {
  width: 100%;
  cursor: pointer;
  /* Hides the slider so custom styles can be added */
  background: transparent;
  border-color: transparent;
  color: transparent; }

/* Special styling for WebKit/Blink */
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 1px solid #000000;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background: #ffffff;
  cursor: pointer;
  margin-top: -14px;
  /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  /* Add cool effects to your sliders! */ }

/* All the same stuff for Firefox */
input[type=range]::-moz-range-thumb {
  box-shadow: 0px 3px 0px #C98805, 0px 0px 0px #C98805;
  border: 8px solid #FDBD2C;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: white;
  cursor: pointer; }

/* All the same stuff for IE */
input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px #C98805, 0px 0px 1px #C98805;
  border: 1px solid #000000;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background: #ffffff;
  cursor: pointer; }

/*range slider*/
[type='range'] {
  -webkit-appearance: none;
  margin: 12px 0;
  width: 100%; }

[type='range']:focus {
  outline: 0; }

[type='range']:focus::-webkit-slider-runnable-track, [type='range']:focus::-ms-fill-lower, [type='range']:focus::-ms-fill-upper {
  background: #FDBD2C; }

[type='range']::-webkit-slider-runnable-track {
  cursor: pointer;
  height: 8px;
  transition: all .2s ease;
  width: 100%;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2), 0 0 1px rgba(13, 13, 13, 0.2);
  background: #eceff1;
  border-radius: 5px; }

[type='range']::-webkit-slider-thumb {
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2), 0 0 4px rgba(13, 13, 13, 0.2);
  background: #607d8b;
  border: 2px solid #eceff1;
  border-radius: 12px;
  cursor: pointer;
  height: 24px;
  width: 24px;
  -webkit-appearance: none;
  margin-top: -10px;
  background-image: url(../../images/creditoPyme/radio-hover.svg);
  background-size: cover; }

[type='range']::-moz-range-track {
  cursor: pointer;
  height: 8px;
  transition: all .2s ease;
  width: 100%;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2), 0 0 1px rgba(13, 13, 13, 0.2);
  background-color: #eceff1;
  border: 2px solid #cfd8dc;
  border-radius: 5px; }

[type='range']::-moz-range-thumb {
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2), 0 0 4px rgba(13, 13, 13, 0.2);
  background: white;
  border: 6px solid #FDBD2C;
  border-radius: 12px;
  cursor: pointer;
  height: 24px;
  width: 24px; }

[type='range']::-ms-track {
  cursor: pointer;
  height: 8px;
  transition: all .2s ease;
  width: 100%;
  background: transparent;
  border-color: transparent;
  border-width: 12px 0;
  color: transparent; }

[type='range']::-ms-fill-lower {
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2), 0 0 1px rgba(13, 13, 13, 0.2);
  background: #dde3e6;
  border: 2px solid #cfd8dc;
  border-radius: 10px; }

[type='range']::-ms-fill-upper {
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2), 0 0 1px rgba(13, 13, 13, 0.2);
  background: #eceff1;
  border: 2px solid #cfd8dc;
  border-radius: 10px; }

[type='range']::-ms-thumb {
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2), 0 0 4px rgba(13, 13, 13, 0.2);
  background: white;
  border: 2px solid #FDBD2C;
  border-radius: 12px;
  cursor: pointer;
  height: 24px;
  width: 24px;
  margin-top: 0; }

.rangeSlider, .rangeSlider__fill {
  background: #ccc;
  display: block;
  height: 20px;
  width: 100%;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  border: 1px solid #ccc; }

.rangeSlider {
  position: relative; }

.rangeSlider--disabled {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  opacity: 0.4; }

.rangeSlider__fill {
  background: #F2B02A;
  position: absolute;
  top: 0;
  z-index: 2; }

.rangeSlider__handle {
  background: white;
  border: 8px solid #FDBD2C;
  cursor: pointer;
  display: inline-block;
  width: 40px;
  height: 40px;
  position: absolute;
  top: -10px;
  z-index: 3;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(100%, rgba(0, 0, 0, 0.1)));
  background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.1));
  background-image: -moz-linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.1));
  background-image: -o-linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.1));
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.1));
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%; }

/*rangerSlider*/
.rangeSlider, .rangeSlider__fill {
  background: #ccc;
  display: block;
  height: 14px;
  width: 100%;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  border: 1px solid #ccc; }

.rangeSlider {
  position: relative; }

.rangeSlider--disabled {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  opacity: 0.4; }

.rangeSlider__fill {
  background: #F2B02A;
  position: absolute;
  top: 0;
  z-index: 2; }

.rangeSlider__handle {
  background: white;
  border: 8px solid #F2B02A;
  cursor: pointer;
  display: inline-block;
  width: 40px;
  height: 40px;
  position: absolute;
  top: -10px;
  z-index: 3;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(100%, rgba(0, 0, 0, 0.1)));
  background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.1));
  background-image: -moz-linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.1));
  background-image: -o-linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.1));
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.1));
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%; }

.align-center {
  text-align: center !important;
  float: none !important; }

.margin-top-70 {
  margin-top: 70px !important; }

.simulador {
  padding: 15px !important; }
  .simulador p {
    color: #666666;
    font-size: 1.3em;
    font-weight: 100 !important; }

.title-icon {
  margin-top: 10px;
  width: 100%;
  height: 50px;
  margin-bottom: 20px; }
  .title-icon div.icon {
    color: #006EC1;
    font-size: 2.5em;
    line-height: 50px;
    padding-top: 10px;
    float: left !important;
    height: 30px;
    width: 45px; }
  .title-icon h1 {
    color: #006EC1;
    font-size: 1.5em;
    float: left !important;
    height: 50px;
    width: calc(100% - 45px); }

.row.row-simulador {
  height: 120px;
  padding-top: 0px;
  margin-bottom: 20px; }
  .row.row-simulador div.col-lg-12 {
    height: 120px; }
  .row.row-simulador h2 {
    font-size: 1.3em;
    color: #006EC1;
    font-weight: 500;
    margin-top: 0; }
  .row.row-simulador .relative {
    position: relative; }
  .row.row-simulador .sim-title {
    height: 50px;
    display: -webkit-box;
    display: -moz-box;
    display: -o-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex; }
    .row.row-simulador .sim-title h2 {
      align-items: center;
      display: -webkit-box;
      display: -moz-box;
      display: -o-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: flex;
      height: 50px; }
  .row.row-simulador .pesos {
    float: right;
    margin-bottom: 20px;
    padding: 0;
    padding-right: 20px; }
    .row.row-simulador .pesos input[type='text'] {
      color: #FDBD2C;
      font-size: 1.4em;
      font-family: 'StagSans Book', 'sans-serif' !important;
      font-weight: bold !important;
      padding-left: 30px;
      min-width: 30px;
      text-align: right;
      padding-right: 10px;
      max-width: 240px;
      height: 50px; }

.row-simulador-resumen {
  background-color: #F2F2F2;
  border-radius: 10px;
  padding: 20px;
  margin: 0; }

.col-resumen {
  display: -webkit-box;
  display: -moz-box;
  display: -o-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  -o-flex-direction: row;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  -webkit-justify-content: center; }
  .col-resumen .text-resumen {
    font-family: 'StagSans Book', 'sans-serif' !important;
    font-weight: bold !important;
    color: #006EC1;
    height: 60px;
    line-height: 60px;
    margin-bottom: 0;
    text-align: center; }
  .col-resumen .input-resumen span {
    text-align: center;
    margin-left: 5px;
    height: 60px;
    border-radius: 10px;
    background-color: white;
    padding: 0px 20px;
    color: #FDBD2C;
    font-size: 2em;
    line-height: 60px;
    padding: 13px 15px 8px 15px !important;
    font-family: 'StagSans Book', 'sans-serif' !important;
    font-weight: bold !important; }
  .col-resumen .fecha-pago {
    color: #006EC1;
    font-family: 'StagSans Book', 'sans-serif' !important;
    font-weight: bold !important;
    height: 60px;
    line-height: 60px;
    margin-left: 20px !important;
    text-align: center; }
    .col-resumen .fecha-pago span {
      color: #666666;
      font-family: 'StagSans Light', 'sans-serif' !important;
      font-weight: normal !important;
      text-align: center; }

.modal-content {
  -webkit-box-shadow: 0 0px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0px 0px rgba(0, 0, 0, 0.5);
  border: 0; }

/*table*/
/* DivTable.com */
.modal-content {
  width: 100%;
  background-color: #f2f2f2;
  font-size: 100%; }

.divTable {
  display: table;
  width: 100%;
  background-color: white; }

.modal-dialog {
  width: 100%;
  max-width: 960px; }

.divTableRow {
  display: table-row; }

.divTableCell, .divTableHead {
  border: 0.3px solid #CCCCCC;
  display: table-cell;
  padding: 10px 5px;
  font-size: .8em;
  text-align: center;
  font-weight: 100;
  align-items: center;
  -ms-flex-align: center; }

.divTableHeading {
  background-color: #006EC1;
  display: table-header-group;
  color: white; }
  .divTableHeading .divTableCell {
    background-color: #006EC1; }

.divTableFoot {
  display: table-footer-group;
  font-family: 'StagSans Book', 'sans-serif' !important;
  font-weight: bold !important; }

.divTableBody {
  display: table-row-group;
  text-align: center;
  color: #75797B;
  font-size: .9em;
  	/*@include display-flex();
      text-align: center;
      width: 100%;
      @include justify-content-space-around();
      @include flex-direction-column(); */ }

.close {
  opacity: 1 !important; }
  .close span {
    color: #006EC1;
    font-size: 1.6em; }

.modal-title {
  font-size: 1.5em;
  font-weight: 700;
  margin-bottom: 10px; }

.detalle-title p {
  color: #75797B;
  height: 15px; }
.detalle-title span {
  color: #006EC1; }

.modal-header .row:last-child .detalle-title:last-child {
  text-align: right; }

.modal-footer p {
  font-size: .7em;
  text-align: left;
  color: #666666;
  padding: 0;
  height: auto;
  padding-bottom: 5px; }

.font-blue {
  color: #006EC1; }

.center {
  text-align: center; }

.modal.fade {
  padding: 1em;
  background-color: rgba(255, 255, 255, 0.8); }

.btn-link {
  color: #009EE5;
  font-style: italic;
  background-color: transparent;
  border: 0;
  text-decoration: underline;
  padding-top: 20px;
  text-align: left;
  padding-left: 0;
  margin-left: 0; }

.meses {
  height: 60px;
  padding-top: 15px;
  color: #CCCCCC;
  display: -webkit-box;
  display: -moz-box;
  display: -o-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  text-align: center; }
  .meses .mes {
    color: #666666; }

/*tabla*/
.classTablaSimple {
  padding: 0rem;
  margin: 0rem;
  width: 100%; }

.classTablaSimple table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0rem; }

.classTablaSimple table tr {
  /*border: solid 0.1rem;*/ }

.classTablaSimple table tr th, td {
  text-align: center;
  font-weight: 100 !important; }

.classTablaSimple table .TBLCabecera {
  background-color: #006EC1;
  color: white; }

.classTablaSimple table .TBLFilaDatosPar {
  background-color: #CCCCCC; }

.classTablaSimple table .TBLFilaDatosImpar {
  background-color: white; }

.divTableCell, .divTableHead {
  border: 0.5px solid #CCCCCC;
  display: table-cell;
  padding: 10px 5px;
  font-size: .8em;
  background-color: white; }

.classTablaSimple table tr th, td {
  text-align: center;
  font-weight: 100 !important;
  border: 1px solid white; }

.centro {
  text-align: center; }

.divTableCellamort {
  border: 1px solid #CCCCCC;
  display: table-cell;
  padding: 10px 5px;
  font-size: .8em;
  text-align: center; }

.divTableHeadingamort {
  background-color: #006EC1;
  color: white;
  text-align: center; }

th {
  min-height: 80px;
  padding: 10px 5px;
  font-weight: 100; }

td {
  color: #666666; }

.row-simulador input[type="text"] {
  float: right;
  width: 30%;
  max-width: 240px;
  color: #FDBD2C;
  text-align: right;
  padding-right: 10px;
  font-size: 1.4em;
  font-family: 'StagSans Book', 'sans-serif' !important;
  font-weight: bold !important;
  border-radius: 5px; }

.rangeSimulador {
  margin-top: 70px; }

.sim-title {
  position: absolute;
  left: 15px;
  width: 70%; }
  .sim-title h2 {
    font-size: 1.2em !important;
    font-family: 'StagSans Book', 'sans-serif' !important;
    font-weight: normal !important; }

.simulador p {
  font-weight: 100; }
  .simulador p span.bold {
    font-family: 'StagSans Book', 'sans-serif' !important;
    font-weight: bold !important; }

.simulador form {
  margin-top: 35px; }

.cat {
  font-size: 1.4em; }

.content-tipo-credito p {
  font-family: 'StagSans Book', 'sans-serif' !important;
  font-weight: normal !important; }

.sucursales ul li {
  width: 33% !important; }
  .sucursales ul li label {
    padding-top: 8px !important;
    text-align: left !important;
    line-height: auto; }

.politicasPrivacidad {
  width: 100%;
  text-align: right;
  font-style: italic; }
  .politicasPrivacidad p a {
    color: #009EE5; }

.btn-yellow-fill {
  max-width: 266px; }

.datos .title {
  padding-left: 0 !important;
  height: 65px; }
  .datos .title h4 {
    font-size: 1.3em; }

.row {
  margin-right: 0;
  margin-left: 0; }
  .row div:first-child {
    padding-left: 0 !important; }
  .row div:last-child {
    padding-right: 0 !important; }

.modal-dialog.modal-small {
  width: 100%;
  max-width: 600px;
  width: 100%;
  margin-left: auto;
  margin-right: auto; }

.modal-backdrop {
  background-color: white; }

.alerta .modal-content {
  box-shadow: 0px 5px 5px #CCCCCC;
  margin-top: 45%; }
  .alerta .modal-content .modal-body {
    padding: 40px; }
    .alerta .modal-content .modal-body h4 {
      text-align: center;
      width: 100%; }

.campos-form-white {
  margin-bottom: 20px; }

.alerta {
  border-left: none;
  border-right: none;
  border-radius: 0;
  text-align: left;
  padding: 10px 0px 10px 0px;
  color: #C8175E;
  font: 15px arial;
  margin-bottom: 1px; }

.modal-body-mobile {
  display: none;
  width: 100%; }
  .modal-body-mobile .divTable .divTableHeading {
    width: 100%;
    text-align: center;
    background-color: white; }
    .modal-body-mobile .divTable .divTableHeading .divTableCell:first-child {
      text-align: center; }
    .modal-body-mobile .divTable .divTableHeading .divTableCell:first-child {
      width: 18%; }
    .modal-body-mobile .divTable .divTableHeading .divTableCell:nth-child(2) {
      width: 40%;
      border-left: 0px;
      border-right: 0px; }
    .modal-body-mobile .divTable .divTableHeading .divTableCell:last-child {
      width: 42%;
      padding-right: 10px; }
  .modal-body-mobile a:hover table {
    color: #006EC1; }

.panel-default > .panel-heading {
  background-color: white; }

.panel-body span {
  color: #006EC1;
  font-family: "StagSans Book", "sans-serif"; }

.panel-group .panel + .panel {
  margin-top: 0; }

.panel-heading {
  background-image: url(../../images/creditoPyme/tab-blue.svg);
  background-size: 20px !important;
  background-position: 98% center;
  background-repeat: no-repeat !important;
  padding: 0; }
  .panel-heading:hover {
    background-color: #f2f2f2; }
  .panel-heading table {
    width: 100%; }
    .panel-heading table tr {
      height: 40px; }
      .panel-heading table tr td {
        border: 1px solid #f2f2f2 !important;
        font-family: "StagSans Book", "sans-serif"; }
      .panel-heading table tr td:first-child {
        width: 18%; }
      .panel-heading table tr td:nth-child(2) {
        width: 40%; }
      .panel-heading table tr td:last-child {
        width: 42%;
        padding-right: 10px; }

.panel-collapse.collapse {
  background-color: white; }
  .panel-collapse.collapse .panel-body div {
    text-align: left; }

.bs-example {
  max-height: 300px;
  overflow: auto; }

.panel-default {
  border-top: 0;
  margin-bottom: 5px !important; }

/*tabla mobile*/
/* Scss Document */
@media (max-width: 820px) {
  ul.nav-menu > li a p {
    font-size: .9em; }

  .simulador {
    padding: 0 10px !important; } }
@media (max-width: 768px) {
  .tab-perfila-tu-negocio div.row div button p.icon {
    font-size: 1.4em; }
  .tab-perfila-tu-negocio div.row div button [class^="icon-"]::before, .tab-perfila-tu-negocio div.row div button [class*=" icon-"]::before {
    font-size: 1.5em;
    padding-right: 20px; }

  .title-section {
    display: block; }

  ul.nav-menu > li a p {
    display: none !important; }

  ul.nav-menu > li a span {
    opacity: .3; }

  ul.nav-menu > li.active a span {
    opacity: 1; }

  .text {
    height: 30px;
    line-height: 50px;
    text-align: center;
    display: block;
    margin-top: 30px; }

  ul.nav-menu {
    height: 50px; }
    ul.nav-menu a {
      line-height: 0; }

  .tab-perfila-tu-negocio div.row.row-btn .col-btn .btn-option {
    height: 140px !important;
    width: 100%;
    max-width: 100%; }
    .tab-perfila-tu-negocio div.row.row-btn .col-btn .btn-option .icon::before {
      position: absolute;
      top: 15px;
      left: calc(50% - 25px); }
    .tab-perfila-tu-negocio div.row.row-btn .col-btn .btn-option p span {
      margin-top: 65px;
      font-size: 0.8em; }

  .container {
    padding-right: 0px !important;
    padding-left: 0px !important;
    margin-right: auto;
    margin-left: auto; }

  .btn-yellow {
    width: calc(100% - 40px) !important;
    margin: 30px 20px; }

  /*radio y checkbox style*/
  .filtro-group .ac-custom ul, .filtro-group .ac-custom ol {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    width: 100%;
    text-align: center;
    display: -webkit-box;
    display: -moz-box;
    display: -o-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    -webkit-justify-content: center;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-wrap: wrap; }
    .filtro-group .ac-custom ul li, .filtro-group .ac-custom ol li {
      max-width: 50%;
      width: 50%;
      display: -webkit-box;
      display: -moz-box;
      display: -o-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: flex;
      justify-content: center;
      -webkit-justify-content: center;
      -webkit-flex-wrap: wrap;
      flex-wrap: wrap;
      -ms-flex-wrap: wrap; }

  .campos-form {
    padding: 0;
    padding-bottom: 20px; }

  .form-group {
    padding-right: 15px;
    padding-left: 15px; }
    .form-group:first-child {
      padding-right: 15px;
      padding-left: 15px; }

  .filtros .filtro-group {
    background-color: #F2F2F2;
    padding: 20px;
    border-radius: 10px !important;
    width: calc(100% - 40px;);
    margin: 10px 10px; }
    .filtros .filtro-group:first-child {
      border-radius: 10px !important; }

  .simulador {
    padding: 0 0px !important; }
    .simulador .title-icon, .simulador p, .simulador form {
      padding: 0 10px; }
    .simulador p {
      text-align: center; }
    .simulador .row-simulador-resumen, .simulador .btn-link {
      margin: 0 10px; }
    .simulador .title-icon {
      border-bottom: 3px solid #006EC1;
      padding-bottom: 10px;
      text-align: center; }
    .simulador .title-icon {
      margin-top: 0px;
      width: 100%;
      height: 60px;
      display: -webkit-box;
      display: -moz-box;
      display: -o-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: flex;
      justify-content: center;
      -webkit-justify-content: center; }
      .simulador .title-icon h1 {
        width: auto;
        font-size: 1.2em; } }
@media (max-width: 767px) {
  .no-mobile {
    display: none; }

  .mensaje {
    padding-top: 0;
    margin-top: -10px; }

  .tipo-de-credito .nav > li > a {
    position: relative;
    display: block;
    padding: 10px 10px; }
  .tipo-de-credito .nav-tabs > li > a {
    border: 0px solid transparent !important; }
  .tipo-de-credito .icon.icon-credito-simple:hover {
    text-align: center; }
  .tipo-de-credito .nav-tabs {
    border-bottom: 0px solid #ddd;
    background-color: #6BB9E8; }
  .tipo-de-credito li {
    background-color: transparent; }
  .tipo-de-credito li.active {
    border-bottom: 0px solid #006EC1 !important; }
  .tipo-de-credito .nav-tabs > li.active > a {
    border: 0;
    background-color: transparent; }
  .tipo-de-credito .nav.nav-tabs {
    display: inline-block; }
  .tipo-de-credito .tab-content > .tab-pane {
    display: none; }
  .tipo-de-credito .tab-pane.active {
    display: inline-block !important; }
  .tipo-de-credito .credito-simple .content-tipo-credito, .tipo-de-credito .credito-tarjeta .content-tipo-credito {
    border: 0px solid #006EC1 !important; }
    .tipo-de-credito .credito-simple .content-tipo-credito h1, .tipo-de-credito .credito-tarjeta .content-tipo-credito h1 {
      display: none !important; }
  .tipo-de-credito a.icon.icon-credito-tarjeta, .tipo-de-credito a.icon.icon-credito-simple {
    text-align: center;
    display: -webkit-box;
    display: -moz-box;
    display: -o-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    -webkit-justify-content: center;
    align-items: center;
    -ms-flex-align: center;
    color: #006EC1; }
  .tipo-de-credito .icon-credito-simple::before, .tipo-de-credito .icon-credito-tarjeta::before {
    font-size: 2em;
    padding-right: 5px; }

  .ctarjeta .col-resumen {
    display: inline-block;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    -o-flex-direction: row;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    -webkit-justify-content: center; }

  .mes span {
    display: none; }

  .simulador .row:last-child {
    text-align: center; }
    .simulador .row:last-child .btn-green {
      float: none; }

  .modal-dialog {
    margin: 0px; }

  .divTableCell, .divTableHead {
    padding: 10px 2px;
    font-size: .9em; }

  .csimple .row-simulador-resumen {
    padding: 10px !important; }
    .csimple .row-simulador-resumen .col-resumen {
      padding: 0 !important;
      font-size: .9em; }

  .background-gray-1, .background-gray-2 {
    margin: 10px; }

  .sucursales ul li {
    width: 50% !important;
    max-width: 100% !important; }

  .datos-contacto form .datos {
    border-top: 3px solid #ccc;
    margin: 10px;
    margin-top: 25px; }

  .datos-contacto form .datos:first-child {
    border-top: 0;
    margin-top: 15px; }
    .datos-contacto form .datos:first-child .title {
      display: none; }

  .datos, .datos {
    padding: 15px; }

  .datos .title {
    padding-left: 0 !important; }

  .campos-form-white label {
    padding-top: 15px; }

  .row div.col-xs-12 {
    padding-right: 0 !important;
    padding-left: 0 !important; }

  .btnContinuar, .politicasPrivacidad {
    padding: 0 25px; }

  .filtros {
    padding: 15px; }

  .modal-header .row:last-child .detalle-title:last-child {
    text-align: left; }

  .modal-body-mobile {
    display: inline-block; }

  .modal-body-web {
    display: none; } }
@media (max-width: 540px) {
  .sucursales ul li {
    width: 100% !important;
    max-width: 100% !important; } }
@media (max-width: 460px) {
  .tab-perfila-tu-negocio div.row.row-btn .col-btn .btn-option p span {
    margin-top: 65px;
    font-size: 0.6em; }

  .row-simulador input[type="text"] {
    width: 40%;
    padding-right: 5px;
    font-size: 1.2em; }

  .rangeSimulador {
    margin-top: 60px; }

  .sim-title {
    left: 15px;
    width: 55%;
    font-size: .95em; }
    .sim-title h2 {
      font-size: 1em !important; }

  .simulador .title-icon h1 {
    width: auto;
    font-size: 1em; } }

/*# sourceMappingURL=style.css.map */
