@font-face {
	font-family: 'StagSans Book';
	src: url('../../fonts/creditoPyme/StagSans-Book.ttf') format('truetype');
}

@font-face {
	font-family: 'StagSans Light';
	src: url('../../fonts/creditoPyme/StagSans-Light.ttf') format('truetype');
}